[2018-03-23 08:56] sonlinux commented on #768
@geomenke I have written some tests to show that a single log in account can create multiple organisations.
The issue seems to have been fixed.

[2018-03-23 11:32] AurelioMorales opened #868 "Error 500 when trying to print a certificate"
This error produces when I try to print a new certificate or regenerate it.

If you need assistance, you may reference this error as e5bcad001ba1496c9f4bcf447afea2f9.

[2018-03-26 05:48] #855 closed

[2018-03-27 08:05] #768 closed

[2018-03-28 08:36] timlinux opened #871 "Translation page should show side by side English"
When working in e.g. indonesian translation there should be an option to see the original english as read only text above the input widgets so that a user can easily compare the original and translated text.

[2018-03-29 12:24] #841 closed

[2018-03-31 21:30] #736 closed

[2018-03-31 22:08] timlinux commented on #868
Can you fix this ASAP @ann26 ? Its probably this:

http://sentry.kartoza.com/sentry/projecta/issues/93/

@AurelioMorales My apologies for the delay in noticing your ticket!

Regards

Tim

[2018-04-03 07:57] cchristelis opened #875 "Port to Python 3"
# Problem

We need to handle unicode characters in various places, porting to python 3 would solve these issues.

[2018-04-03 09:33] timlinux commented on #875
Agreed!

[2018-04-03 09:59] timlinux commented on #868
@ann26 I deployed to live but it seems the error is still there e.g.

http://changelog.qgis.org/en/qgis/certificate/QGIS-118/

[2018-04-03 13:30] ann26 commented on #868
@timlinux sorry I missed that one, I fixed it in #876 but the pdf certificate printing should be working.

[2018-04-03 20:40] timlinux commented on #868
@AurelioMorales I have deployed @ann26 's fixes could you test again please?

[2018-04-03 20:40] timlinux commented on #868
Reopened pending confirmation from @AurelioMorales

[2018-04-03 20:50] AurelioMorales commented on #868
Everything is ok! Thanks!

El mar., 3 abr. 2018 22:40, Tim Sutton <notifications@github.com> escribió:

[2018-04-05 06:41] sonlinux opened #878 "Lesson detail content renders ugly."
## Problem
Some content on lesson detail is not displaying correctly as shown below.
<img width="1028" alt="screen shot 2018-04-04 at 14 24 54" src="https://user-images.githubusercontent.com/10270148/38350759-097544b8-38ad-11e8-9533-5ea9f8d15bf1.png">

## Solution
Investigate and fix

[2018-04-05 08:46] ismailsunni commented on #875
Agree, but we need a plan for this, and target when do we want to do it. 20 months before python 2 support ended.

[2018-04-05 09:05] #878 closed

[2018-04-10 05:46] ismailsunni opened #882 "Lesson Cosmetics"
From this site: http://changelog.inasafe.org/en/inasafe/section/home-assignments/detail/138/

There are some unavailable items in the lessons. We should not show this to the common users or when we print it. So, things to do:

- [ ] Only show available items to the normal user (not staff or admin). We still need to show it to admin/staff so that we can make an edit.
- [ ] When we print it, we shou

[2018-04-10 06:01] ismailsunni commented on #882
<img width="666" alt="screen shot 2018-04-10 at 12 59 28" src="https://user-images.githubusercontent.com/1421861/38538684-18cbbdf0-3cbf-11e8-91ee-0883ec10ff25.png">

Since some of them are mandatory fields, we use a trick to put one or more space characters on it. So, you need check whether it's only space or not only space.

[2018-04-10 06:15] timlinux commented on #882
Lets change this to make it not mandatory except for the title and intro content. Also if all fields is null leave it and its section out. It will make it flexible for us how we compile the lessons....

[2018-04-10 10:38] #836 closed

[2018-04-10 13:03] #640 closed

[2018-04-11 07:56] sonlinux opened #885 "Some existing sponsors do not appear in the combo box."
An existing sponsor does not appear in the combo box therefore, it can not be renewed.

## Problem
Some sponsors can not be filtered into the project sponsorship period form.

## proposed solution
Investigate the filtering on the project sponsorship period porm and related areas.

[2018-04-11 14:10] sonlinux commented on #885
Hi @timlinux
I have tested the issue on my local and the problem happens to be
- [ ] The sponsor **QGIS user group Brazil** is not yet **approved**
- [ ] when approved then it is also showing in the sponsor combobox

[2018-04-12 02:16] ismailsunni commented on #882
Hi @sonlinux
I still got the empty goal:
<img width="934" alt="screen shot 2018-04-12 at 09 14 00" src="https://user-images.githubusercontent.com/1421861/38652864-0ebc3172-3e32-11e8-9348-086ace81a3a5.png">

Please check the homework 3 in the InaSAFE lesson: http://changelog.inasafe.org/en/inasafe/section/home-assignments/detail/138/

[2018-04-13 10:14] #882 closed

[2018-04-13 11:53] #885 closed

[2018-04-15 20:26] AurelioMorales commented on #868
The problem is here again.

same problem with http://changelog.qgis.org/en/qgis/certificate/QGIS-117/ http://changelog.qgis.org/en/qgis/certificate/QGIS-118/ and http://changelog.qgis.org/en/qgis/certificate/QGIS-136/

[2018-04-15 20:45] timlinux commented on #868
Sorry about this @AurelioMorales we will fix ASAP

@ann26 looks like this:

http://sentry.kartoza.com/sentry/projecta/issues/137/

Can you systematically check that everything in the certification app is unicode friendly?

[2018-04-16 01:47] ann26 commented on #868
ok @timlinux , I will do

[2018-04-16 09:29] #649 closed

[2018-04-16 12:30] timlinux commented on #868
@AurelioMorales all the fixes are deployed to the live site, thanks for your patience.

[2018-04-16 12:32] AurelioMorales commented on #868
It seems to be ok now, thanks!

--

Aurelio Morales San José

2018-04-16 14:30 GMT+02:00 Tim Sutton <notifications@github.com>:

[2018-04-19 11:15] #662 closed

[2018-04-20 08:37] #670 closed

[2018-04-23 09:08] #818 closed

[2018-04-23 09:33] ann26 commented on #868
hi @AurelioMorales , sorry for the inconveniences, it seems that there are two certificate with the same ID, I will investigate why this happens

[2018-04-23 13:59] timlinux opened #896 "Explicitly set the project owner name in project properties"
Can you please modify the project properties dialog to include the project representative's name as a field just above here:

![screen shot 2018-04-23 at 15 53 37](https://user-images.githubusercontent.com/178003/39131189-27a26bf8-470f-11e8-9a63-c6d65674081a.png)

And then use this name for the certificates

![screen shot 2018-04-23 at 15 56 10](https://user-images.githubusercontent.com/178003/391

[2018-04-24 03:45] samnawi opened #897 "Can not add new question"
I cannot add a new question in the check your knowledge section.
I just can do it for one question, and afterward, I can not find a button to add the 2nd question.
![image](https://user-images.githubusercontent.com/8871958/39164990-73f03e48-47ac-11e8-9fbd-bea2911d9f2a.png)

[2018-04-24 08:43] #897 closed

[2018-04-24 11:06] timlinux opened #899 "Green is the colour of my true love's eyes...."
...but not the colour for text in the footer bar

![screen shot 2018-04-24 at 13 02 02](https://user-images.githubusercontent.com/178003/39183410-28fcfd5e-47c0-11e8-8d25-51524d3a9000.png)

@sonlinux can you make the version text black to match the other non-hyperlink text in the footer please?

[2018-04-25 06:13] #899 closed

[2018-04-25 06:24] timlinux opened #901 "Image should be scaled to 100% width of page in lesson view"
![screen shot 2018-04-25 at 08 22 44](https://user-images.githubusercontent.com/178003/39229158-df49f692-4861-11e8-9dfc-f580e17515ab.png)

Can you please make the image scale to the full width of the container.

The same for the more about section - put the image in a new row, span the text content across all 12 columns.

[2018-04-25 08:22] #901 closed, assigned to ismailsunni, sonlinux

[2018-04-30 05:19] rduivenvoorde opened #903 "Fix query in atom fee"
If I'm right, the current sponsors atom/rss feed returns records of both current sponsor 'contracts' and earlier ones.
As an example: in the feed:
http://changelog.qgis.org/en/qgis/sponsors/rss/
you'll see the Swiss gold sponsor twice (but I think that is for all returning sponsors)

We should filter out 'old' contracts which are not valid anymore.

Note that in practice I use atom at this moment

[2018-04-30 05:25] rduivenvoorde opened #904 "Reshape html summary in atom/rss sponsors feed"
Currently the sponsor items are looking like this:

[code]

Is it (easy) possible in this html to change the following:
- make the img-element a full url (as I use the feed in qgis.org and it is easiest to just retrieve the images from changelog.qgis.org
- add some classes to the img-element and the p-element as then I can do some more styling.

An example:

[code]

[2018-04-30 07:45] ann26 commented on #904
hi @rduivenvoorde ,
we have the `image_url` property for each sponsor using the full url in this page http://changelog.qgis.org/en/qgis/sponsors/json/
will that be able to help you?

[2018-04-30 11:59] rduivenvoorde commented on #904
@ann26 thanks for this.

Yes, I know it is there. It is also available in the atom version I use. BUT my 'problem' is that I do want to take over the 'summary' (in atom) or 'description' (in rss) as verbatim as possible.
I have to create some html, and can not easily extract the information I need from both feeds:
- an description (NOT holding an relative url, OR holding a full url)
- an type of s

[2018-05-01 07:32] rduivenvoorde opened #905 "Only staff members see the 'create new issue' button"
See https://lists.osgeo.org/pipermail/qgis-developer/2018-May/053161.html

When you are a staff member and go to:
http://changelog.qgis.org/en/qgis/version/3.0.0/
You are able to create a new entry.

But non staff users do not see this button:

![selection_413](https://user-images.githubusercontent.com/731673/39465245-90215b26-4d22-11e8-8bdb-c8011c0319bf.png)

[2018-05-02 14:31] timlinux commented on #905
@sonlinux please fix ASAP

[2018-05-03 01:40] #905 closed

[2018-05-03 08:43] rduivenvoorde opened #908 "Fresh added items are only visible for staff members"
See discussion:

https://lists.osgeo.org/pipermail/qgis-developer/2018-May/053200.html

I think for a next version it would be better if all people could add items AND keep seeing them.

The 'approval' process is not transparent for users, and for them they 'just loose their edits'.

[2018-05-08 06:10] timlinux commented on #908
Duplicates #806 - @rduivenvoorde yeah I agree, we plan to do away with the moderation stuff....

[2018-05-08 06:11] timlinux commented on #908
Can youplease make this happen @sonlinux ?

[2018-05-08 06:11] #908 closed

[2018-05-08 07:25] rduivenvoorde opened #910 "Download as rst broken/raises 500 error"
Hi, Trying to download the visual changelog 3.0  as rst to incorporate it in the website, I get a 500 error, telling me:
If you need assistance, you may reference this error as bfa67a6ae7fe4d728f541e92fd134089.
![selection_442](https://user-images.githubusercontent.com/731673/39743606-b4e79e50-52a1-11e8-9ea4-60a95b8944c5.png)
![selection_443](https://user-images.githubusercontent.com/731673/397436

[2018-05-08 09:26] ann26 commented on #910
hi @timlinux I think the culprit are these images from the page:
![screenshot from 2018-05-08 16-21-47](https://user-images.githubusercontent.com/26101337/39749202-43613904-52dc-11e8-8fe6-401207ee10c0.png)

they are in the descriptions and are url to images in github.
[code]
and
[code]

therefore when the system tried to download it from the server, it couldn't found it.

[2018-05-08 09:53] rduivenvoorde commented on #910
Can we download those images and just upload them? Instead of pointing to the github versions?

[2018-05-08 11:12] rduivenvoorde commented on #910
FYI I want to move on, so I removed this two images. And added the largest one as normal image to the item.
Now it downloads fine.
Ok for now for me

[2018-05-08 11:28] rduivenvoorde commented on #910
Mmm, but now the download is no 'plain' rst anymore.

It is now a mostly consisting of ` .. raw:: html ` parts...

Is this fixable?

[2018-05-09 13:27] #904 closed

[2018-05-10 15:27] gubuntu opened #912 "stay on same page when logging in"
I was on a worksheet page and wanted to edit it so logged in and was taken to the project home page instead

[2018-05-10 15:30] gubuntu opened #913 "field length restrictions still need tweaking"
The summary leader field in http://changelog.qgis.org/en/qgis/section/introduction-qgis-1/update/71/ is cut off.

If we're strict about this limit then existing worksheets probably need a review for more cases like this to be reworded to fit

[2018-05-10 15:32] gubuntu opened #914 "data download files should have better names"
like <worksheet title>_data.zip

[2018-05-12 19:27] rduivenvoorde commented on #910
Trying to look a little into this myself. If I am correct:
- I think here:
https://github.com/kartoza/projecta/blob/develop/django_project/changes/views/version.py#L682-L692
The list of items is converted/rendered to html first. This html seems highly customized to be viewed in some responsive way ..
- Then pandoc is asked to convert this (complex) html to rst, and is actually failing. Still valid

[2018-05-16 11:13] timlinux opened #916 "duplicate certificates"
We have 4 certs that are duplicates:

[code]

which gives an error fetching the certs:

[code]

See http://sentry.kartoza.com/sentry/projecta/issues/147/

[2018-05-17 08:51] #532 closed

[2018-05-18 08:42] ann26 commented on #916
Hi @timlinux , sorry for this inconvenience. I fixed the other duplicates just now (there were two QGIS-139) so I changed one of it to be QGIS-141 then I regenerated the certificate so the verification link is updated. I also have written to them.

Sorry again!

[2018-05-18 11:18] NyakudyaA opened #918 "Downloading Tiles results in a 404 error"
# Problem
When in data download section choosing tiles results in the following error message.
![downl-admin](https://user-images.githubusercontent.com/2510900/40232110-cbb24172-5a9d-11e8-8d1b-e31055a5983d.png)

# solution
Make it happy and try not to open the XYZ tiles in a browser but rather a popup message with the URL would suffice and an option to copy the url

[2018-05-18 11:27] NyakudyaA commented on #914
Tested with file http://geonode.kartoza.com/layers/geonode:flood_laplata_classified_2013_3 and the data downloads had nice names.
![downloads](https://user-images.githubusercontent.com/2510900/40232444-1264f4c4-5a9f-11e8-8df3-917714374562.png)

For the Geotiff it would be nice if all the layers downloaded had an extension added to them ie `flood_laplata_classified_2013_3.tif`

[2018-05-21 07:30] carina1000 opened #920 "Create CI: Logo"

[2018-05-21 07:31] carina1000 opened #921 "Create CI: Style guide"
# Problem:

We need to give prj.app a consumer-facing identity

# Solution:

-Elaborate on final logo choice
-colours
-icons
-fonts
-headerImage

[2018-05-21 07:31] carina1000 opened #922 "Website Mockups"

[2018-05-21 07:39] carina1000 opened #923 "Launching Strategy"

[2018-05-21 07:43] carina1000 commented on #923
Problem:
We need to launch prj.app and get users

Solution:
Create a launching marketing strategy for the product

Who are the users
Where are they
What can we plug into
How do we attract them
Why would they use prj.app

Discuss these and come up with a strategy with stakeholders

[2018-05-21 07:45] carina1000 commented on #923
https://docs.google.com/document/d/10jpzjFTS7fNRMPMrkDudqDv06kqL1L12Kfv-XG_bLB4/edit

[2018-05-22 06:19] timlinux opened #924 "We should rebase our docker images on alpine"
e.g. https://github.com/frol/docker-alpine-python3/blob/master/Dockerfile

Much lighter weight and more secure with less moving parts.

[2018-05-22 06:19] timlinux commented on #924
Needs a bit of R&D to see if it will work ok

[2018-05-24 06:33] ismailsunni opened #927 "Use a Date Picker for Choosing Release Date"
<img width="1257" alt="screen shot 2018-05-24 at 13 32 12" src="https://user-images.githubusercontent.com/1421861/40468214-f509fb10-5f56-11e8-8e36-fac0bf2128bc.png">

It would be nice and easier to use if we added a date picker to choose the release date.

[2018-05-24 23:37] ismailsunni opened #928 "Support Markdown for Course Description"
I think we must support markdown for this description
<img width="1330" alt="screen shot 2018-05-25 at 06 35 32" src="https://user-images.githubusercontent.com/1421861/40518682-01ac6ada-5fe6-11e8-9cde-0839b481ce1d.png">

[2018-05-25 06:43] timlinux opened #929 "Editing version fails"
Saving changes to a version fail on the approval step:

![changelog](https://user-images.githubusercontent.com/178003/40530011-665271d0-5ff7-11e8-87a5-5fb2eef6c12d.gif)

Updating manually in admin also fails:

![changelog2](https://user-images.githubusercontent.com/178003/40530015-6a75a138-5ff7-11e8-9756-c051c4bfc067.gif)

Eventually I had to do manually using psql:

[code]

[code]

Please check b

[2018-05-25 06:43] timlinux commented on #929
cc @ismailsunni

[2018-05-25 07:18] carina1000 opened #930 "Create CI: Final Logo Version"

[2018-05-25 07:19] carina1000 commented on #930
# Problem:

We need to give prj.app a consumer-facing identity

# Solution:

Elaborate on chosen logo variations with colour options - present these

[2018-05-25 12:56] rduivenvoorde opened #932 "Download QGIS 3.2.0 as rst broken/raises 500 error"
If you download rst for QGIS 3.2.0 you get a 500.

If I do the same in my dev env, I see:

[code]
And furter in the debug info:

![selection_476](https://user-images.githubusercontent.com/731673/40545312-abdac098-602b-11e8-838c-f14aebd72b98.png)

which to me looks like there is not enough info to select ONLY QGIS (as InaSAFE 3.2.0 is also coming though)?

Any pointers to fix this are appreciated

[2018-05-25 13:02] yjacolin commented on #768
I don't know if it is in production but here my feedback:
* in QGIS project, I still can't create another organization (e.g. Camptocamp France SAS) see http://changelog.qgis.org/en/qgis/certifyingorganisation/list/ (there is only Camptocamp SA (CH))
* in root project, I can create more than one organization. I created Camptocamp France SAS in the past but can't edit it anymore (except if I didn't

[2018-05-25 13:07] yjacolin opened #933 "Missing people in User dropdown list"
If I want to add a new user as trainer in course conveners or another owner in my organization, some Camptocamp dev are missing:

![spectacle x26417](https://user-images.githubusercontent.com/660191/40545745-306b6b18-602d-11e8-8f08-7e1a4c3f9172.png)

From where come from users in the user drop down list?

Thanks,

[2018-05-25 14:32] rduivenvoorde commented on #903
For the 'Past Sponsors' I created a PR: https://github.com/kartoza/prj.app/pull/931

About the double entries: I found out that that you see some sponsors twice appears to be a data problem. If you go to:

http://changelog.qgis.org/en/site-admin/changes/sponsorshipperiod/

in the 'table' Sponsorship periods you can see 2 records for the below
mentioned.

Can I just remove them via that admin inter

[2018-05-26 09:03] timlinux commented on #933
On my log in I see users:

![convenor](https://user-images.githubusercontent.com/178003/40574536-42f29f3e-60d4-11e8-8cdc-b60bb8b2c358.gif)

@ann26 can you please check why on @yjacolin 's account he does not see other users.

@yjacolin can you confirm that then no filter is applied there are also no users shown to you?

Also what browser were you using?

[2018-05-26 09:23] timlinux opened #935 "Remove RST logic from version templates"
See https://github.com/kartoza/prj.app/pull/934

Please go through all the templates that have RST logic in besides the ones introduced in #934 and remove the RST if blocks.

Then remove the old download view and replace the button in the ui to point to the downloadRST view introduced by @rduivenvoorde

[2018-05-26 09:26] timlinux commented on #932
See also http://sentry.kartoza.com/sentry/projecta/issues/236/

[2018-05-26 09:53] timlinux opened #936 "We need tweaks for past sponsors"
See #931

Can you add the past sponsors button and also a test so that our coverage is not reduced? Please make it a meaningful test that inserts some current and expired sponsors and tests we get back the correct set from each feed. Than merge.

Also please make a view like the current sponsors view which shows all the historidcal sponsors for a project,

[2018-05-30 04:45] ann26 commented on #936
Hi @timlinux I added the button for past sponsor rss and the tests too in #940

for this one:
[code]
The current sponsors view has past sponsor list at the bottom part. Do you want it to be combined together as one list in historical order?

[2018-05-30 04:55] ann26 commented on #903
Hi @rduivenvoorde ,
You can do that via http://changelog.qgis.org/en/qgis/sponsorshipperiod/list/, click on the `eye` button and you'll see the details page of it where you can edit or remove that.

[2018-05-30 05:32] ann26 commented on #667
- [x] 3 is already fixed

[2018-05-30 06:07] ann26 commented on #933
Hi @timlinux and @yjacolin
I checked it in the admin there are only two users from Camptocamp
![screenshot from 2018-05-30 13-04-27](https://user-images.githubusercontent.com/26101337/40701955-1fc0e8f2-640a-11e8-8dd8-aab7b9843942.png)
And I see it in the course conveners user options here:
![peek 2018-05-30 13-03](https://user-images.githubusercontent.com/26101337/40701971-3c4ca25e-640a-11e8-889b-

[2018-05-30 06:41] rduivenvoorde commented on #903
Thanks @ann26 , I will close this issue then. I think @andreasneumann should do this then as he knows the finesses of QGIS finances.

[2018-05-30 06:41] #903 closed

[2018-05-30 06:51] ismailsunni opened #943 "MemoryError When Creating Certificates"
See the sentry entries: http://sentry.kartoza.com/sentry/projecta/?query=is%3Aunresolved+memoryerror

As far as I remember there are at least 3 occasion this memory error occurs:
1. Preview certificate for a course
2. Bulk download certificate for a course as zip file
3. Create certificate / Regenerate certificate for an attende

Projecta will give you 504, but no other information.

The first tim

[2018-05-30 06:56] ismailsunni opened #944 "Logic Error in CSV Attendee Uploader"
It works for the first time, but if you have the same attendee for the same organization, it will not work and fail to upload all of the attendees in the CSV.

I tried to fix it, but I didn't consider the atomic transaction decorator.

[2018-05-30 07:03] yjacolin commented on #933
@ann26 thanks. Here a screenshot of course conveners for Arnaud Morvan, autocompletion is not working on string inside `<>` so I can't find it:
![spectacle et5227](https://user-images.githubusercontent.com/660191/40704404-4515de72-63e8-11e8-9e99-e70978b64a94.png)

For other, indeed they didn't registered. I though that the username was kept from QGIS github repositories which is wrong.

[2018-05-30 07:09] ann26 commented on #933
@yjacolin I will add the first name and last name for that user in admin site so you can search it.

[2018-05-30 07:11] ann26 commented on #933
@yjacolin could you try it again please?

[2018-05-30 07:14] yjacolin commented on #933
@ann26 thanks, it works! I already asked to Arnaud to fill his profile in the website but it is not needed anymore :)

[2018-05-30 07:14] yjacolin commented on #933
I will close the ticket as soon as my other traineer will have create their account.

[2018-05-30 07:27] yjacolin opened #945 "Creating account: Password are sent in clear!"
The process to create an account sent the password in clear text.

[2018-05-30 07:38] rduivenvoorde opened #946 "Create a clean (without html) json endpoint"
I'm aware of the fact that for example the sponsor app has a json feed:
http://changelog.qgis.org/en/qgis/sponsors/json/
Which is created with the feed module, and is ok to be used as a true feed: having the html for the items easy for you to work with.

But for a site as QGIS which is also to be viewed in russian, chinese, japanese etc etc, the drawback of this 'ready to use' html is that it is (

[2018-05-31 05:57] timlinux opened #947 "We need a clear call to action on the certification page."
I am getting emails from people asking how to sign up for certification. Can you put a nice big button on the certification page saying 'sign up'

I think they don't recognise the start metaphor for a new org and also they need to see the call to action even if they are not logged in.

http://changelog.qgis.org/en/qgis/certifyingorganisation/list/

[2018-06-04 15:26] Gustry opened #948 "prj.app ?"
The new name of the repo is prj.app, not projecta anymore?

https://github.com/kartoza/prj.app

[2018-06-04 15:29] Gustry opened #949 "http:// must be added manually"
If in founder URL of an changelog entry, the URL is 'www.something.com', the link is wrong. The user must add 'https://' to make it work properly. I think projecta should handle this ? It might be the same issue in developer URL.

[2018-06-04 15:56] Gustry opened #950 "Pending menu is visible for anonymous users"
I'm not connected:
![screenshot from 2018-06-04 11-53-52](https://user-images.githubusercontent.com/1609292/40927961-1b4e6fbe-67ee-11e8-937f-70c1e4e5e23b.png)

I don't think that this menu should be visible for anonymous. All items are protected.

[2018-06-05 06:46] timlinux commented on #945
@ann26 can you come up with a better way please?

[2018-06-05 06:48] timlinux commented on #950
Thanks @Gustry - @sonlinux can you fix please?

[2018-06-05 06:49] timlinux commented on #949
Thanks @Gustry - another one for you @sonlinux !

[2018-06-05 06:50] timlinux commented on #948
Yeah we could not buy the domain 'projecta' so we are rebranding as prj.app since we bought that domain.

[2018-06-05 06:50] #948 closed

[2018-06-05 06:51] timlinux commented on #946
@rduivenvoorde thanks

@ann26 Richard added a new view with clean HTML. Can you remove the old ones so that we don't have cruft in our code?

[2018-06-05 06:52] timlinux commented on #943
Maybe the template is too big? Can you reduce the size of it? If needed we will have to increase the size of the cloud server.

[2018-06-05 06:54] timlinux commented on #918
Wrong repo @NyakudyaA ?

[2018-06-05 06:54] #918 closed

[2018-06-05 06:54] timlinux commented on #916
Thanks @ann26 - so the fix is permanent now? Please re-open if not....

[2018-06-05 06:54] #916 closed

[2018-06-05 06:55] NyakudyaA commented on #918
Ohh did not see that. Will migrate it now to Geosafe

[2018-06-05 06:55] timlinux commented on #862
@sonlinux please update the state of this, close if done

[2018-06-05 06:56] timlinux commented on #806
Can you make this happen this week @ismailsunni ?

[2018-06-05 06:59] NyakudyaA commented on #918
This issue was moved to kartoza/geonode#430

[2018-06-05 07:10] ann26 commented on #916
I believe so @timlinux

[2018-06-05 10:03] Gustry commented on #948
So sad

[2018-06-06 07:35] #806 closed

[2018-06-06 08:07] #935 closed

[2018-06-06 12:08] #936 closed

[2018-06-11 22:07] Cracert commented on #670
In certificate preview only caption text (`With a trained competence in:`) is displayed, without content. Content is saved in course details.

Not tested with final certificate rendering.

[2018-06-11 22:15] Cracert opened #955 "Certificate - i18n problem with Training Center name"
Funny polish S in center name

![tcenter-ok](https://user-images.githubusercontent.com/630667/41259734-f9450efe-6dd4-11e8-9ef6-a5d1d82e5c19.png)

becomes black square in preview

![tcenter-cert](https://user-images.githubusercontent.com/630667/41259742-feb53ed6-6dd4-11e8-8505-95f7410bcf9e.png)

[2018-06-11 23:29] Cracert opened #956 "Certificate - two similar courses raise 500 error"
We have two similar courses - the same name, period, center. But two different conveners. I defined without a problem second course. Entry 2 and 3 on [our courses page](http://changelog.kartoza.com/en/qgis/certifyingorganisation/qgis-cracow-university-of-technology/).

But those two almost identical entries are impossible to edit/view/delete.

Reference errors raised by Django are `7d50c658e4a644d

[2018-06-12 09:44] Cracert commented on #955
The same issue when rendering final certificate.

[2018-06-12 13:41] NyakudyaA opened #958 "Fields in the lesson app have a character limit"
# Problem
I am busy editing content in the [qgis-lesson1](http://changelog.qgis.org/en/qgis/section/introduction-qgis-1/print/73/) on the summary leader section.
![screen shot 2018-06-12 at 15 39 06](https://user-images.githubusercontent.com/2510900/41293904-e34b1760-6e56-11e8-8ad5-c941959dc8a9.png)

The text is cut off and different from the original pdf in the Training manual.
# solution
Fix and

[2018-06-12 13:50] timlinux commented on #958
@NyakudyaA the summary leader should be a short sentence only. Rather move the extended content into the summary text.

[2018-06-12 13:50] #958 closed

[2018-06-12 13:53] timlinux commented on #956
Full traceback for these errors is here:

For viewing:

http://sentry.kartoza.com/sentry/projecta/issues/290/

[2018-06-12 13:54] timlinux commented on #956
updating:

http://sentry.kartoza.com/sentry/projecta/issues/36/

deleting:
http://sentry.kartoza.com/sentry/projecta/issues/291/

@Cracert we will try to fix ASAP

[2018-06-14 18:08] timlinux opened #959 "We need a separate project representative field"
Currently the project owner name is used for the certificates but in QGIS I am the project owner but Paolo is the project rep. This leads to something bad: Paolo's signature with my name under it:

<img width="1555" alt="screen shot 2018-06-14 at 20 00 01" src="https://user-images.githubusercontent.com/178003/41429777-6173ab4e-700e-11e8-852e-c2a836abfa1c.png">

To fix please add a new field: Proje

[2018-06-14 18:10] timlinux opened #960 "Person name shows as black block in certificate"
See http://changelog.qgis.org/en/qgis/certifyingorganisation/qgis-cracow-university-of-technology/course/qgis_spatial-information-systems-ii_2018-02-26-2018-06-22/print/248/

<img width="1555" alt="screen shot 2018-06-14 at 20 00 01" src="https://user-images.githubusercontent.com/178003/41429913-d5e7c80c-700e-11e8-9816-42dce46dba3e.png">

CC @Cracert

@Cracert sorry it is a holiday in Indonesia -

[2018-06-18 14:08] timlinux opened #961 "We need to have a new link in the admin menu for google analytics"
Also analytics js should be included in every page

https://analytics.google.com/analytics/web/#/report-home/a115194342w171268569p170958900/

[2018-06-21 23:33] #956 closed

[2018-06-25 07:23] timlinux opened #964 "We need to support custom domains for the certification subset"
We had a request that we can treat certification with a discrete page so we get e.g.:

http://certification.qgis.org -> goes to the certification page
http://changelog.qgis.org -> goes to the project page

The certification landing page should also have an edit button that allows each project to put their own custom markdown content describing the certification programme.

CC @m-kuhn

[2018-06-25 23:07] timlinux opened #965 "We need an about page for lessons"
I often get asked and try to explain how the lessons app works. Lets put some nice content into an about page like we have for certification. Here is content from an email I wrote to the dev list about it that we can tweak into an about page.

--------
Basically the things you find in the lessons app are worksheets we developed for our own training courses. We tried to come up with a new approach

[2018-06-26 09:23] ghtmtt opened #966 "Chair name still Tim Sutton"
While the signature is correctly taken from Paolo Cavallini the name on the certificates is still Tim Sutton

[2018-06-27 12:44] timlinux commented on #966
Duplicates #959 @ann26 can you put this on your todo list when you next have a chance to work on projecta? Matteo we will fix ASAP

[2018-07-06 09:33] rduivenvoorde opened #970 "QGIS 3.2 RST export throws 500"
RST export of QGIS 3.2 throws a 500

I just have a new laptop, so not able to setup a dev environment quickly again.

Can somebody help me figuring out which item is the problem, so we can remove it?

[2018-07-10 08:39] #949 closed

[2018-07-10 08:42] #932 closed

[2018-07-10 09:21] #960 closed

[2018-07-17 06:06] rduivenvoorde commented on #970
Recently fixed via https://github.com/kartoza/prj.app/pull/962

[2018-07-17 06:06] #970 closed

[2018-07-17 06:07] rduivenvoorde opened #972 "We should not show 'future' sponsors"
See https://github.com/qgis/QGIS-Website/issues/550#issuecomment-405466754

Sometimes there are sponsor records in future, we should create a  query to NOT have those in results

[2018-07-17 06:22] rduivenvoorde opened #973 "[FEATUREQUEST] we should be able to 'lock' editing of QGIS-version changelog after release"
Currently I'm not aware of disabling the editing of items in the changelog list.

But as an example, now we have exported/released the visual changelog for QGIS 3.2 I think it is not nessecary anymore that people update the changelog records for 3.2 ?
The edits will never show up in the website anymore, so it is a wast of time to edit those.

So: feature request: an admin should be able to 'lock e

[2018-07-23 06:37] timlinux commented on #972
I guess this is just for the feed right?

[2018-07-23 06:38] timlinux commented on #973
Thats a good idea. One for your TODO list @ann26

[2018-07-23 07:53] rduivenvoorde commented on #972
@andreasneumann @timlinux  if I understand Andrea's comment on  qgis/QGIS-Website#550 right, it should just not show up in generated html lists too?

But this kind of list, well, depending on the function of it:
http://changelog.qgis.org/en/qgis/sponsors/list/
should show it (if it is used by Andreas to edit items), or NOT show it if it is to be viewed by 'normal' users.

But to fix THIS issue now

[2018-07-24 11:29] andreasneumann opened #974 "Sponsor list doesn't show placename, country and URL of organization"
Hi,

In the old, manually edited, sponsors list we had the country and the URL linking directly to the sponsors homepage.

In the new list, the URL links first to Projecta and not directly to the company/organization.

The old list also listed the country of the sponsor, which was quite a useful information. Could we reintroduce the country in the listing and also list the city of the sponsor?

Co

[2018-07-24 22:36] timlinux commented on #974
Is this for the feed onto QGIS.ORG @andreasneumann ?

[2018-07-25 06:20] andreasneumann commented on #974
yes - the list published at https://www.qgis.org/en/site/about/sponsorship.html

It always links back to the respective Projecta entry, but the URL should point directly to the sponsor's web page.

Thanks,
Andreas

[2018-07-25 07:56] #959 closed

[2018-07-25 07:56] #966 closed

[2018-07-30 05:19] #910 closed

[2018-08-03 10:25] #965 closed

[2018-08-07 08:47] andreasneumann opened #975 "Cannot select existing sponsor to create a new sponsorship period"
The sponsor with the name "Integrate Sustainability Pty Ltd" is existing (past sponsorship periods), but I can't select this particular sponsor for creating a new sponsorship period.

![image](https://user-images.githubusercontent.com/884476/43764964-185d16fc-9a2f-11e8-8b56-ae54eb23c345.png)

![image](https://user-images.githubusercontent.com/884476/43765005-33db2d42-9a2f-11e8-971f-954e8716f956.pn

[2018-08-07 13:37] andreasneumann commented on #975
ok - found out that the respective company was in status "Pending approval".

Closing this issue.

[2018-08-07 13:37] #975 closed

[2018-08-24 18:21] geomenke opened #976 "Organizations need a link to download certificate template"
There needs to be a certificate template available for download to approved certifying organizations. This is the created by Tim which will do for now but could be improved. It should include the dimensions and extent of the area to be kept clean for use by the system.
[certificate_template.pdf](https://github.com/kartoza/prj.app/files/2319412/certificate_template.pdf)

[2018-09-28 15:14] Gustry opened #978 "Funder and developer URL shouldn't be compulsory"
It seems that Funder URL and Developer URL is compulsory in the UI.
This is not always true, as developers may have done a feature on their freetime, or a crowdfunded campaign.

I looked in the model and it's not compulsory, so I don't know where it comes from:
https://github.com/kartoza/prj.app/blob/develop/django_project/changes/models/entry.py#L71

[2018-10-06 17:23] geomenke opened #979 "Language needs to be inserted for New Certifying Organisations"
When a new organization is applying to be a new certifying organization there should be an explanation of what the requirements are and what the process is on this page:
http://changelog.qgis.org/en/qgis/create-certifyingorganisation/
This may necessitate some modification of the page layout. If this should be a PR instead let me know.

I suggest the following based on the recent decision by the P

[2018-10-06 17:32] geomenke opened #980 "Certifying organization status"
There needs to be a way to indicate which pending organizations have been contacted. Then those of us who are making initial contact can mark those applications as pending.

[2018-10-10 12:49] yjacolin opened #981 "Start - end date doesn't have any meaning for the duration"
When creating a new course, we should add a start and end date. The final certification show the duration using this information but it could be wrong. In my use case, we get course from 18 to 28 of october but the finale duration is 3 days (so 21 hours).

[2018-10-10 12:52] yjacolin opened #982 "[certification] Trained competence(s)"
This field is too small, we need something a little big bigger to add more information. Like 3-4 bullets point.

[2018-10-10 12:53] yjacolin opened #983 "[certification] Certificate needs to be translated"
PDF certificate are in english. This is definitively an issue for french public organism.

[2018-10-10 12:54] yjacolin opened #984 "[certification] certification preview doesn't show "trained competence""
Here a screenshot:
![spectacle b25744](https://user-images.githubusercontent.com/660191/46737648-581c1500-cc9c-11e8-9185-cabb20d144d0.png)

"trained competence" field is empty!

[2018-10-10 13:31] yjacolin opened #985 "[certification] course attendees should not be public"
I think, but should be discussed, attendees list of a QGIS training should not made public.

[2018-10-10 13:33] yjacolin opened #986 "[certification] RGPD/LPD conformity"
Certificate website should be conform to RGPD/LPD. That's mean we should propose to attendees to remove them from list, not made public attendees public (see #985), not add attendees automaticly, ...

[2018-10-23 10:41] Gustry commented on #978
This issue has been fixed? According to @timlinux on the mailing list, right?

[2018-10-29 16:31] jvdkwast opened #991 "Export issued certification list as pdf"
Invoicing often needs the the participant list to be included. It would be useful to be able to generate a list as pdf of participants who have received a certificate.

[2018-10-29 16:58] jvdkwast commented on #991
Sorry, was already in the issue list

[2018-10-29 16:58] #991 closed

[2018-11-05 20:32] timlinux opened #992 "Unable to edit changelog description"
<jef> is unable to edit the main changelog description (no pencil above the entry). He is a changelog manager - can you please check why this is?

<img width="1190" alt="screenshot 2018-11-05 at 22 31 08" src="https://user-images.githubusercontent.com/178003/48024905-92b58800-e14a-11e8-9c77-906dee18a11e.png">

CC @jef-n

[2018-11-06 06:38] timlinux commented on #979
I will add a small markdown form that the cert managers can use to maintain this description.

[2018-11-06 08:14] yjacolin commented on #986
Yes, RGPD is probably the french word (France) and LDP also (CH) :)

[2018-12-12 22:54] #947 closed

[2018-12-18 20:29] Cracert opened #998 "[certification] Mail delivery errors"
7 of 39 certificates returned mail delivery error. This is probably caused by sender e-mail (certification organization) not equal kartoza.com. When forwarding certificate info from our e-mail, it works fine.

Here are few samples from mail system:

[code]

[2018-12-18 20:40] Cracert opened #999 "[certification] Credits update after deleting certificate"
During initial phase of certification I have created wrong certificate (164), and then the good one (167). Today I deleted first version, but credits didn't change.

Both certificates are still visible in changelog, but not in my certification panel.
Should certificates be deleted this way if something goes wrong? What policy do we have for such cases?

[2019-01-16 20:15] Cracert opened #1000 "[certification] Possible inconsistency in the database"
One month ago I have issued some 39 certificates from CSV import, with minor problems related to e-mails (#998). Today I realized that 11 certificates have disappeared from the system.

I added missing 11 students one by one and issued first certificate again. Result is the following:

* [certificate was issued correctly](http://changelog.kartoza.com/en/qgis/certifyingorganisation/qgis-cracow-univ

[2019-01-16 20:26] Cracert opened #1001 "[certification] Duplicated e-mails"
At the moment CSV import of attendees enables duplicates of e-mail (no errors). This is the case of my students sharing one group account on gmail.

How this is treated by the system? Can this be source of some problems?

Related to #998, #1000

[2019-02-05 00:55] #978 closed

[2019-02-08 04:47] #992 closed

[2019-02-15 13:57] NyakudyaA opened #1004 "Download multiple items Is limited to worksheets appearing on single page"
# Problem

I tried to download multiple sheets and I got to this page.

![screenshot 2019-02-15 at 15 52 23](https://user-images.githubusercontent.com/2510900/52860993-bfaa0b80-3139-11e9-9380-25a1c9d5af96.png)

When I navigate to the next page for worksheets it does not remember the state I was in of downloading multiple worksheets the previous state of downloading worksheets.

![screenshot 2019-0

[2019-02-15 14:21] NyakudyaA opened #1005 "Data links in pdf refer to localhost"
# Problem

After downloading multiple worksheets I navigated to one of the exercise folders and clicked on the download link in the pdf. I expected to get zip file but instead got.

![screenshot 2019-02-15 at 16 20 11](https://user-images.githubusercontent.com/2510900/52862283-97241080-313d-11e9-8a5e-75bcecf16828.png)

# Solution

Fix all links to refer to changelog URL

[2019-02-28 00:05] Cracert commented on #1000
Problem solved.

[2019-02-28 00:05] #1000 closed

[2019-03-07 11:41] ismailsunni opened #1009 "Specify Version for Python Package"
It seems we should specify the version of the python package in the requirements so that it will not break frequently in the future.

Here is the list from this command:
[code]

- [ ] docker/REQUIREMENTS-dev.txt:django-nose
- [ ] docker/REQUIREMENTS-dev.txt:coverage
- [ ] docker/REQUIREMENTS-dev.txt:pylint
- [ ] docker/REQUIREMENTS-dev.txt:factory_boy
- [ ] docker/REQUIREMENTS-dev.txt:django-devse

[2019-03-07 15:02] ismailsunni opened #1011 "Pad Name Ordering is Not Reliable"
I saw that the ordering of the version is based on the `pad_version`
[code]

Unfortunately, the `pad_name` method is not reliable for ordering if the version does not have the standard format (x.y.z). For example `3.4 LTR` and see below the result of the ordering:

![image](https://user-images.githubusercontent.com/1421861/53965733-044e1480-40f2-11e9-809a-7af5ab48f06b.png)

One solution could be s

[2019-03-09 11:08] ismailsunni opened #1014 "[Ideas] Map and Stats for Organisation/Training Center"
I saw there is a map for the sponsors, perhaps it would be nice also if we have a map for the organizations or training center (then we can see where is the location of the organization in a specific area) but for all organization.

Little bit stat (like how many certificates has been done, how many training has been done, etc).

Just a conversation in the hackfest

[2019-03-09 17:38] timlinux opened #1016 "When in single project domain mode there is no way to see project properties"
Normally we edit project properties from the projects dashboard like this:

<img width="1183" alt="Screenshot 2019-03-09 at 19 34 25" src="https://user-images.githubusercontent.com/178003/54075045-d52ad500-42a2-11e9-899d-4f4468334568.png">

But in http://changelog.qigs.org when I am logged in I can't get a link that will take me to the project properties page because it is in single project domain

[2019-03-09 17:40] timlinux commented on #964
So just under this part of the project admin page

<img width="1140" alt="image" src="https://user-images.githubusercontent.com/178003/54075067-2b981380-42a3-11e9-8126-2eaff6867538.png">

I should have an option to customise the certification landing page...

[2019-03-12 15:43] gioman commented on #984
Confirmed also here.

[2019-06-17 05:49] andreasneumann opened #1017 "Cannot login to changelog application"
Currently I cannot login to the changelog application to change QGIS.ORG sponsor data.

Below is a screenshot of the error I am receiving with the following error id:
bc0ce9f3ca714b5ba966f72ff73525de

![image](https://user-images.githubusercontent.com/884476/59581165-511f8f00-90d4-11e9-8a44-84c0203d6453.png)

[2019-06-17 11:25] timlinux commented on #1017
Hmm I am getting that too - looking into why now...

[2019-06-17 11:26] timlinux commented on #1017
Looks like the disk is full...clearing some space....

[2019-06-17 11:31] timlinux commented on #1017
Space cleared, seems all good again...

[2019-06-17 11:31] #1017 closed

[2019-07-01 19:50] timlinux opened #1018 "Can't enter dates for voting"
<img width="823" alt="image" src="https://user-images.githubusercontent.com/178003/60462662-cbf2b900-9c41-11e9-9ee3-3d6911e89e88.png">

http://changelog.qgis.org/en/qgis/committees/qgis-psc/create-ballot/

@ann26 can you come up with a quick fix for that?

[2019-07-02 03:11] ann26 commented on #1018
hi @timlinux that is strange, because the datepicker is working on my side
![Peek 2019-07-02 10-10](https://user-images.githubusercontent.com/26101337/60479921-ccc33380-9cb1-11e9-909d-0126faea8979.gif)

[2019-07-03 03:35] #1018 closed

[2019-07-18 12:45] NyakudyaA opened #1022 "Inconsistent numbering for questions when creating modules"
# Problem
I am trying to add a new module for QGIS but when I add a question the first one is labeled 1 and the subsequent ones are labeled 4.

![bug](https://user-images.githubusercontent.com/2510900/61458355-98ff3380-a96a-11e9-9dea-96d8c3c4cb30.png)

# Solution
Please fix and make happy

[2019-07-29 18:21] anitagraser opened #1023 "Show who voted how on ballots"
For the QGIS PSC voting, we need to see who voted how and not just how many people voted:

![image](https://user-images.githubusercontent.com/590385/62072146-4eb96480-b23e-11e9-96b3-38e60375d8c0.png)

Additionally, it would be good to automatically send reminders to people if they haven't voted and the closing date is coming up.

[2019-07-29 18:23] anitagraser opened #1024 "Voting options are still shown on closed ballots"
Even if a ballot is closed

![image](https://user-images.githubusercontent.com/590385/62072292-a48e0c80-b23e-11e9-911e-5c1e4326477c.png)

I still see the voting options and a submit button:

![image](https://user-images.githubusercontent.com/590385/62072273-9cce6800-b23e-11e9-812e-a436e00a2a45.png)

[2019-08-23 13:28] #1024 closed

[2019-08-23 14:10] #1023 closed

[2019-08-25 12:31] haubourg commented on #985
Confirmed, the attendees are publicly visible currently. This requires explicit agreement and should be revocable at any time by attendees (from what I understand from DGPR).

[2019-08-25 12:56] gubuntu opened #1028 "add tooltips for data entry"
e.g. 'Course Type'. What does this mean? What are some examples?

[2019-08-25 12:58] gubuntu opened #1029 "training centre location entry improvement"
The default map position is 0,0 with edit mode active.

It would be better to default to navigation mode so the user doesn't inadvertently add a point while trying to navigate

It would be even better to default to the organisation's address, or at least to their country

[2019-08-25 13:04] gubuntu opened #1030 "layout tweaks"
Here and elsewhere:

<img width="603" alt="Screenshot 2019-08-25 at 16 01 29" src="https://user-images.githubusercontent.com/496911/63650285-496e0d80-c749-11e9-9866-da5a0edfbabe.png">

<img width="965" alt="Screenshot 2019-08-25 at 16 02 32" src="https://user-images.githubusercontent.com/496911/63650298-702c4400-c749-11e9-9962-46ebe4fa6398.png">
(and fix language to 'your credits are insufficient'

[2019-08-25 13:08] Geogoeroe opened #1031 "Negative credits"
![image](https://user-images.githubusercontent.com/9982061/63650352-1ed08480-c74a-11e9-932f-73e0fb06a807.png)
Should this be possible?

[2019-08-29 06:16] #980 closed

[2019-08-29 14:00] tudorbarascu opened #1032 "the possibility of having a certificate that the organisation/trainer is certified to do training/to certify"
Is there a way to generate such a thing from the certificate app? Something like the QGIS Association hereby certifies that QTIBIA Engineering has the right.. to teach and.. what not.. something like that.

[2019-09-05 16:44] ann26 opened #1035 "Issue all certificate at once"
We need a function to issue all certificate at once.

[2019-09-06 03:35] ann26 opened #1036 "Certification for certifying organisation"
We need a system similar to certification system to certify certifying organisation

[2019-09-06 10:39] ann26 commented on #1031
hi @Geogoeroe currently yes, so you can issue as many certificates as you need and when your credits is not sufficient, you'll get negative credits. When your credits are not sufficient, you can only issue the certificate but cannot print it. But I think I'm going to change the logic so that it won't go negative.

[2019-09-06 12:04] ann26 commented on #1005
hi @NyakudyaA could you give me the details of which worksheet you found this issue please?

[2019-09-06 12:05] NyakudyaA commented on #1005
@ann26 I think it's all of them, Let me quickly check them

[2019-09-06 12:36] NyakudyaA commented on #1005
@ann26 I have tried to check randomly but it seems the issue is fixed. I will close this and will open when I experience this again.

[2019-09-06 12:36] #1005 closed

[2019-09-12 03:17] #1036 closed

[2019-09-12 04:42] ann26 opened #1039 "Issues with Pillow > 6.0.0 using reportlab"
# Problem
Using the latest Pillow breaks the code when using reportlab for drawing image.
See http://sentry.kartoza.com/sentry/projecta/issues/1493/

I installed earlier version of Pillow manually on the server to `Pillow==5.3.0`

# Solution
We need to explicitly install earlier version of Pillow in requirements.

[2019-09-12 05:06] timlinux opened #1040 "Wrong org certificate shown"
Testing out the new org cert on staging I get the wrong org name in the cert:

![test](https://user-images.githubusercontent.com/178003/64755609-70875600-d523-11e9-90b4-779a86733803.gif)

[2019-09-12 05:09] timlinux opened #1041 "Wrong URL on org cert"
Testing out on staging, the cert shows a bad url:

<img width="785" alt="image" src="https://user-images.githubusercontent.com/178003/64755708-d2e05680-d523-11e9-9da9-8e08a20c6988.png">

[2019-09-12 06:05] ann26 commented on #1040
hi @timlinux it's because of the cache certificate on the server, I've deleted the certificate and it's ok now. Please try again.

[2019-09-12 06:06] ann26 commented on #1041
hi @timlinux please see https://github.com/kartoza/prj.app/issues/1040#issuecomment-530679295

[2019-09-12 06:07] ann26 opened #1042 "Add function to regenerate certificate for certifying organisation"

[2019-09-23 07:17] tudorbarascu opened #1043 "Generated certificate special characters issues for course convener"
The generated certificates support special characters except for the course convener (probably other font).
See:
[wrong_characters.pdf](https://github.com/kartoza/prj.app/files/3640982/wrong_characters.pdf)

I manually edited the certificates to bypass this.
Maybe changing the font of the course convener would be a better solution?

[2019-09-23 18:42] timlinux commented on #1043
Thanks for the report @tudorbarascu . Can you look at this @ann26 ?

[2019-09-24 10:12] timlinux opened #1044 "Reference sponsors as sustaining members rather"
Dear Tim,

I would need some help from you or someone familiar with projecta: http://changelog.qgis.org/en/qgis/
still lists "Sponsors" instead of "Sustaining Members" and "Platinum/Gold/Silver/Bronze" instead of "Flagship/Large/Medium/Small".

Can you help me changing these terms?

Also, the visual changelogs import this data from Projecta and still uses the old terms, like at https://qgis.org/en

[2019-09-24 11:03] timlinux opened #1045 "Improve layout for certifications pending approval"
<img width="707" alt="image" src="https://user-images.githubusercontent.com/178003/65506384-548c9880-dec3-11e9-93da-193a8ea48903.png">

[2019-10-02 23:49] #1044 closed

[2019-10-04 14:18] ghtmtt opened #1047 "No print PDF certificate available"
After having issued all the certificates of a training it is not possible to download them as pdf. Clicking on the buttons gives:

[code]

[2019-10-08 09:34] ann26 commented on #1047
hi @ghtmtt Sorry for your inconvenience, I've just fixed that. Please try again.

[2019-10-08 09:54] #1039 closed

[2019-10-08 09:54] #1047 closed

[2019-10-15 08:20] #1041 closed

[2019-10-15 08:20] #1040 closed

[2019-10-15 08:22] timlinux commented on #1032
Closed with #1038

[2019-10-15 08:22] #1032 closed

[2019-10-15 08:23] timlinux commented on #1030
What browser was this with @gubuntu ?

[2019-10-15 08:26] timlinux commented on #1029
Low priority for now @ann26 - maybe just try to default the OL widget to use pan mode

[2019-10-15 08:31] timlinux commented on #1028
So @ann26 it is on the course creation form:

<img width="697" alt="Screenshot 2019-10-15 at 09 28 49" src="https://user-images.githubusercontent.com/178003/66814436-7f03cb80-ef2e-11e9-81aa-829d39a636e2.png">

Please add anchors in the help text drawers and then in the help text for the certificiate template, add a link to the relevant section in the docs

<img width="1030" alt="image" src="https:

[2019-10-15 09:05] ann26 opened #1049 "[voting] inconsistent view for ballots"
from @anitagraser

I've checked and the views still seem to disagree:
![image](https://user-images.githubusercontent.com/26101337/66817155-767ab780-ef65-11e9-894e-61db71eab8ea.png)

![image](https://user-images.githubusercontent.com/26101337/66817165-7bd80200-ef65-11e9-9da5-e04b48370574.png)

Also the number of votes cast on a ballot are inconsistent:

![image](https://user-images.githubuserconten

[2019-10-15 09:06] ann26 opened #1050 "[certification] Add anchor on certification info"

[2019-10-15 09:09] ann26 opened #1051 "[voting] add edit/remove button for team on voting system"
# Problem
There is no edit/remove button on team card.
![Screenshot from 2019-10-15 16-07-31](https://user-images.githubusercontent.com/26101337/66817495-fe60c180-ef65-11e9-8618-5f48616712c1.png)

# Solution
Add like the ones here:
![Screenshot from 2019-10-15 16-08-59](https://user-images.githubusercontent.com/26101337/66817575-22bc9e00-ef66-11e9-8f71-adf5b1e9cf0f.png)

[2019-10-15 09:13] ann26 opened #1052 "[voting] fix dropdown list for team"
# Problem
Team has inconsistent dropdown list, e.g. when it is on project landing page no dropdown list is available:
![Screenshot from 2019-10-15 16-11-41](https://user-images.githubusercontent.com/26101337/66817840-8941bc00-ef66-11e9-9093-828f1a4945a6.png)

But when in team landing page, there is dropdown list but there is no option to come back to team list.
![Screenshot from 2019-10-15 16-12-2

[2019-10-15 09:15] ann26 opened #1053 "[voting] there's a stranger on a ballot"
There is a non team member voted on the ballot.
![Screenshot from 2019-10-15 16-15-36](https://user-images.githubusercontent.com/26101337/66818119-09682180-ef67-11e9-9cc7-506fb70ae106.png)

[2019-10-15 09:17] ann26 opened #1054 "Put changelog.qgis.org on qgis rancher orchestration"
We are migrating qgis to use rancher orchestration, so we are also going to put the changelog.qgis.org on qgis rancher orchestration.

![qgis-new-orchestration](https://user-images.githubusercontent.com/26101337/69170054-021ad180-0b2c-11ea-9e2d-f4a9a2d2ba90.png)

[2019-10-15 17:40] anitagraser commented on #1049
Thanks for moving this to the issue tracker @ann26

[2019-10-16 06:22] #1049 closed

[2019-10-16 06:22] #1051 closed

[2019-10-16 06:22] #1052 closed

[2019-10-16 06:22] #1053 closed

[2019-10-16 21:08] timlinux commented on #1031
Can we close this now @ann26 ?

[2019-10-16 21:43] Geogoeroe commented on #1031
Ah, yes, sorry, didn't even reply properly...

Thanks a million, next course is coming up in a week already :-)

Erik.

Erik Meerburg
Directeur Geo Academie
06 - 2816 7631
erik@geo-academie.nl
GeoAcademieLogo <https://geo-academie.nl>
/Incompany trainingen in geo-informatie en GIS?
Dat kan natuurlijk op GeoFort, of bij u op locatie!/

On 16/10/2019 23:08, Tim Sutton wrote:

[2019-10-16 23:10] timlinux commented on #1031
Nice - have fun @Geogoeroe !

[2019-10-16 23:10] #1031 closed

[2019-10-17 11:10] ismailsunni opened #1056 "Sponsor Logo are Truncated"
When I looked at the sponsor list page (http://changelog.qgis.org/en/qgis/sponsors/list/), the sponsor logo seems truncated. See below:

![image](https://user-images.githubusercontent.com/1421861/67003850-39d2cb80-f0df-11e9-95af-e097b3bb9ff5.png)

Perhaps need to get the proper size of the sponsor logo?

[2019-10-22 10:22] gubuntu commented on #1030
That was most likely Firefox on Mac.

This is also Firefox on Mac
![Screenshot 2019-10-22 at 12 20 25](https://user-images.githubusercontent.com/496911/67277207-9ca0da00-f4c6-11e9-870b-287f2bfd42da.png)

[2019-10-22 10:24] gubuntu opened #1059 "put colons behind field names"
![Screenshot 2019-10-22 at 12 23 30](https://user-images.githubusercontent.com/496911/67277295-cd810f00-f4c6-11e9-91e6-b2bb6680ce89.png)

[2019-10-22 10:28] gubuntu opened #1060 "protect from new spam users and remove existing spam users"
![Screenshot 2019-10-22 at 12 28 06](https://user-images.githubusercontent.com/496911/67277591-6dd73380-f4c7-11e9-9364-731216929ca4.png)

[2019-10-22 10:39] gubuntu opened #1061 "Can't top up credits"
Click the cart to top up credits and nothing happens

![Screenshot 2019-10-22 at 12 37 22](https://user-images.githubusercontent.com/496911/67278267-f5717200-f4c8-11e9-96aa-fb88edac6716.png)

[2019-10-22 10:43] gubuntu commented on #1030
![Screenshot 2019-10-22 at 12 43 02](https://user-images.githubusercontent.com/496911/67278584-8cd6c500-f4c9-11e9-88c7-0958f9f31b17.png)

The whole site seems 'zoomed in' (it always has)

[2019-10-22 11:36] gubuntu opened #1062 "no link to About page"
It should be easy to get to http://changelog.qgis.org/qgis/about/ via the menu or links in other places.

Currently it's either not there or well hidden

[2019-10-22 11:46] gubuntu opened #1063 "allow attendees to buy credits"
as an altenative to certifying orgs buying credits, allow attendees to purchase directly.

1. they register
2. they buy credits
3. when they have done the course AND bought the credit, the certifying org can issue them a cert.

Rationale: Non-EUR countries can't invoice in EUR and would lose all round on forex fees and rates. It also puts the onus and admin load on the attendee.

[2019-10-22 11:49] gubuntu opened #1064 "fix security issues"
![Screenshot 2019-10-22 at 13 49 16](https://user-images.githubusercontent.com/496911/67282802-ca8c1b80-f4d2-11e9-9afa-47f85e7d14b1.png)

[2019-10-22 11:52] gubuntu commented on #1062
OK I see it's behind various i buttons but the obvious place for me would be in the main certification menu dropdown

[2019-10-23 13:58] timlinux commented on #1062
@ann26 will you add a 'Help' menu item in the cert menu pointing to our help doc?

Thanks!

[2019-10-24 09:42] timlinux commented on #1061
@ann26 can you make a new view for this with the rules:

*. certification managers can add credits in the view
* organisation managers can see a message 'Please contact admin' with a list of avatars and names of certification managers (no emails)
* other users should get a 404 or whatever

[2019-10-24 09:53] timlinux opened #1065 "Please include project name in certifying org admin"
<img width="895" alt="image" src="https://user-images.githubusercontent.com/178003/67474466-6ab98000-f64c-11e9-8a69-95e12e8bd404.png">

We have two Kartoza entries there - one for InaSAFE and one for QGIS - I nearly deleted the first not realising it was for InaSAFE

[2019-10-28 09:17] timlinux opened #1066 "Release order should be evaluated mathematically"
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/178003/67666296-6ef2df80-f963-11e9-85e3-f3a8b0c03098.png">

<img width="384" alt="image" src="https://user-images.githubusercontent.com/178003/67666401-9d70ba80-f963-11e9-9abd-f84c94d1a9a6.png">

The logic should be to take the first word, turn it into a floating point number and sort according to that so in the examples

[2019-11-02 11:07] rduivenvoorde opened #1069 "Changelog rst export invalid if author does not have email"
During export to rst of VisualChangelog QGIS 3.10 I found that building failed:

[code]

Because of the following line:

[code]

So apparently when a developer does not add a company name or email you will end up with this invalid construct. I changed it (by hand) to:

[code]

But it could also be fixed by making those fields mandatory?
Or create a link to the page itself?

[2019-11-04 16:04] timlinux commented on #1069
Thanks @rduivenvoorde . @ann26 can you make it generate plain text rather than a link if the url is not populated?

[2019-11-06 10:08] ann26 opened #1070 "Improve certificate"
The font should be the same and the spaces should be even

[2019-11-06 15:19] #1070 closed

[2019-11-15 09:08] Gustry opened #1076 "Lesson number when using page 2"
On this page, sections are from 1 to 10:
http://changelog.qgis.org/en/qgis/section/list/?page=1

If I go to page 2, I expect to start at 11, but it's starting again at 1:
http://changelog.qgis.org/en/qgis/section/list/?page=2

A minor issue ;-)

[2019-11-16 10:20] timlinux commented on #1076
Thanks @Gustry - @ann26 will you take care of this?

[2019-11-18 03:19] #1065 closed

[2019-11-18 03:19] ann26 commented on #1076
will do @timlinux

[2019-11-18 09:56] MyGIS opened #1079 "I cannot modify my company details"
Hi, I am trying to put in our company details to be approved for certification, however, I am not sure what I did wrong and it is my name that came out instead of the company name. I do not seem to find a way to make the edit. Please see attached  screenshot.
![image](https://user-images.githubusercontent.com/5960438/69042757-c2b98b80-0a2c-11ea-993e-653f627d13f7.png)

Any idea how I could solve th

[2019-11-18 11:54] ann26 commented on #1064
I fixed the vulnerability for requests.
But I am not able to do it for the others for now (need more time to upgrade those requirements). I tried to upgrade them on my local and here are my reports:

- It's complicated to upgrade the Django to 1.11.19. I've tried it on my local and that raises error on starting the projecta. Because some functions are different.
- djangorestframework 3.9.1 does no

[2019-11-18 13:32] ann26 commented on #1022
hi @NyakudyaA could you give me the link where did you encounter the problem?

[2019-11-18 13:36] NyakudyaA commented on #1022
Hi @ann26 Can you please check the following http://changelog.qgis.org/en/qgis/section/symbology-22/detail/81/

[2019-11-18 13:59] ann26 commented on #1022
@NyakudyaA I checked it and I added a question but I couldn't reproduce your problem.
![Screenshot from 2019-11-18 20-57-14](https://user-images.githubusercontent.com/26101337/69058474-53509580-0a46-11ea-9a96-0004fa1df9e0.png)

[2019-11-18 14:04] NyakudyaA commented on #1022
@ann26 check the numbering system in the example I sent you. I think this only happens when you.
* In situations where you have questions 1 -4, delete question number 2 and add another question.
* Instead of number 3 becoming number 2 the next question you add will automatically become number four which renders you having incorrect numbering

[2019-11-18 14:10] ann26 commented on #1022
hi @NyakudyaA I did as you described but I still didn't get the problem. When I delete question no. 2 from a module with 4 questions, no. 3 became no. 2 and no. 4 became no. 3. Then I added another question, it became no. 4 and didn't affect the numbering of the other questions

[2019-11-18 14:23] NyakudyaA commented on #1022
Hi @ann26 Please see the following
![questions](https://user-images.githubusercontent.com/2510900/69060289-c8f53b00-0a1f-11ea-816e-4ce361f7afc3.png)

[2019-11-18 14:30] NyakudyaA commented on #1022
@ann26
![save](https://user-images.githubusercontent.com/2510900/69060820-b3ccdc00-0a20-11ea-83bb-9eb0c6f14888.gif)

[2019-11-18 14:48] ann26 commented on #1022
@NyakudyaA ok got it, this problem does not occur in Chrome but it does in Firefox

[2019-11-19 00:40] #1022 closed

[2019-11-19 00:40] #1076 closed

[2019-11-19 00:41] #1066 closed

[2019-11-19 00:42] #1079 closed

[2019-11-23 16:53] Gustry opened #1083 "Buttons to go back should be visible"
In the lesson app:
http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/?q=2.1

I know why these buttons are hidden by default. But this a UX bug, as people have no idea that they need to put their cursor in this area to display the back button. And honestly, for the end user, it's not convenient/nice for the display when it's moving up/down.

A flag is needed to display these but

[2019-11-23 16:54] Gustry opened #1084 "Strange characters in PDF, not in HTML"
On this page, the HTML rendering is fine http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/?q=2.1

But the PDF contains some strange characters in the "Check your result'.

[2019-11-23 17:01] Gustry opened #1085 "Links in "Further reading" with 2.14, 2.18, checking validity"
A lot of pages are linked to the 2.14 documentation:
http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/?q=2.1

Or to 2.18 documentation:
http://changelog.qgis.org/en/qgis/section/introduction-qgis-1/detail/74/?q=1.12

The purpose of these lessons is to be easily updated from version to version because of a few screenshots. So we should make the process easy to update.

Can we i

[2019-11-23 17:03] NyakudyaA commented on #1084
I think this is caused by the copy and paste from the libre office doc to mark down. They have to be cleaned manually

[2019-11-23 20:49] timlinux commented on #1084
Should be better now @Gustry ...though there is something else funny going on @ann26

<img width="371" alt="image" src="https://user-images.githubusercontent.com/178003/69485073-7e662b00-0e32-11ea-8434-703df81baf6d.png">

The :. looks wierd like it maybe had a number there or something - can you git blame to see what changes have happened to header renderering.

There are also a couple of empty ro

[2019-11-24 08:52] ann26 commented on #1084
hi @Gustry I will investigate

hi @timlinux that's because the `q` parameter is missing from the url.
if you use this url: `http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/?q=2.1` you'll see the number shown but if you use this url: `http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/` the number will be missing... I will think another more reliable way to

[2019-11-24 09:05] Gustry commented on #1084
@ann26, @timlinux wrote:

he fixed them

Thanks. I'm not sure if you want to keep the ticket open or not for the other bug.

[2019-11-24 09:29] ann26 commented on #1084
Ah sorry, thanks @Gustry

[2019-11-24 09:29] #1084 closed

[2019-11-24 09:34] ann26 opened #1086 "Find better way for lesson numbering"
Currently the numbering for lesson on its page is using parameter on the url.
e.g. `http://changelog.qgis.org/en/qgis/section/data-providers-21/detail/79/?q=2.1`
![Screenshot from 2019-11-24 16-32-33](https://user-images.githubusercontent.com/26101337/69492664-14a05c80-0ed8-11ea-829c-b7ae27fe74cf.png)

when we're missing parameter `q` on the url, the lesson will lose its numbering.
e.g. `http://ch

[2019-11-24 10:16] #1083 closed

[2019-11-24 19:54] timlinux commented on #1084
Ah ok thanks

[2019-11-28 11:31] haubourg commented on #944
Confirmed, If an attendee is already registered, it is not added to the course by the bulk CSV update.

[2019-11-28 18:08] timlinux commented on #944
Thanks @haubourg . @ann26 can you add this to your todo list please?

[2019-12-10 09:10] timlinux opened #1089 "Onramping sustaining members"
Like in certification application, we should require a logged in user:

![Screenshot 2019-12-10 at 08 52 41](https://user-images.githubusercontent.com/178003/70513953-801a3900-1b2a-11ea-909b-56383a3ad3ba.png)

![image](https://user-images.githubusercontent.com/178003/70514006-a17b2500-1b2a-11ea-963d-a2bd079e4527.png)

We need to migrate these model names to 'sustainingmember'

![image](https://use

[2019-12-10 09:28] timlinux opened #1090 "Payment for certifying organisation credits"
Currently when an org owner wants to top up their credits

![image](https://user-images.githubusercontent.com/178003/70515835-e785b800-1b2d-11ea-93b4-5d3fd01af51b.png)

they get this:

http://changelog.qgis.org/en/qgis/certifyingorganisation/qgis-kartoza-pty-ltd/top-up/

We should let the organisation managers make top ups (managers are shown here):

![image](https://user-images.githubusercontent.

[2019-12-11 10:52] timlinux opened #1091 "500 error printing certificate"
http://sentry.kartoza.com/sentry/projecta/issues/1727/

We have a problem with a new attendee and its certificate:

Alfredo González Fernández

http://changelog.qgis.org/en/qgis/certifyingorganisation/qgis-mappinggis/course/qgis_master-en-sistemas-de-informacion-geografica_2016-12-01-2018-05-29/print/1133/

The page with the verification is correct:
http://changelog.qgis.org/en/qgis/certificate/QG

[2019-12-16 05:02] #1091 closed

[2019-12-16 05:57] ann26 commented on #1079
hi @MyGIS I have fixed the permissions and deploy this to live. Please try again and let me know if that works for you. Thank you for your patience.

[2019-12-17 02:16] MyGIS commented on #1079
Hi Anita,

Thanks a lot, it works! I have deleted the application under my name and left only the one with our company name. So I will just wait for the committee decision.

Thank you,

Best regards.

Lyes Mokraoui,

MSBE, P.Geol., Gs.

Geospatial Consultant

GIS Innovation Sdn Bhd (557976-H)

E-6-17, Sunway Geo Avenue 2,

Jalan Lagoon Selatan,

Bandar Sunway,

47500 Subang Jaya,

Selangor Darul E

[2019-12-17 07:03] linfiniti commented on #1079
Thanks Lyes

@Kurt Could you take a look at Lyes’ application if it is not already on your radar?

Regards

Tim

[2019-12-18 10:16] timlinux commented on #1089
<img width="993" alt="Screenshot 2019-12-18 at 10 11 59" src="https://user-images.githubusercontent.com/178003/71077504-75d9e980-217f-11ea-974f-aaa32f7edf36.png">

[2019-12-18 10:17] timlinux commented on #1089
Sponsor email -> Contact Email
Enter the email of the contact person

[2019-12-18 11:03] timlinux commented on #1089
When you include a link to the sponsorship programme details, can you softcode it as a manager editable link in the project management panel (so that the platform remains generic). We can point it to:

https://www.qgis.org/en/site/getinvolved/governance/sustaining_members/sustaining_members.html#how-can-you-support-the-qgis-development

[2019-12-18 12:54] Gustry opened #1096 "Many screenshots when creating a new project"
When creating a new project, at the end of the form, there are many screenshots which are needed according to the form:

http://changelog.kartoza.com/en/project/create/
![Capture d’écran de 2019-12-18 13-52-44](https://user-images.githubusercontent.com/1609292/71088042-d7a94c00-219d-11ea-86ba-cfcefa151865.png)

Either it's just one, or the description should be different.

[2019-12-18 12:57] timlinux commented on #1096
Just FYI they will create a carousel from the uploaded pics....but yeah, there is probably a nicer way we can manage this.

[2019-12-18 13:15] Gustry commented on #1096
Ah nice to know ;-)
Indeed, it wasn't obvious ahah. Ok so,I will add more to try

[2019-12-24 07:31] timlinux commented on #1089
Please also add to the project model a field where we can define the link to more infor about the sustaining member programme
Also there should be some generic text added on the form
Also a checkbox for the user to indicate they agree to the terms and conditions shown on the info page
Process should be explained:
* register company
* wait for approval
* create subscription

* Ensure that Andreas c

[2019-12-24 07:49] andreasneumann commented on #1089
Here is the information we need on the invoice:

* Address and contact information of QGIS.ORG (incl. UID/VAT nr)

QGIS.ORG
Böschacherstrasse 10a
CH-8624 Grüt (Gossau ZH)
UID/VAT-Nr: CHE-489.853.176

http://www.qgis.org/
finance@qgis.org
Mobile: +41 79 938 11 71

* Invoice date
* Some unique invoice ID or invoice nr
* The title "Tax Invoice"
* Address and contact person of the organization applyin

[2019-12-24 07:50] andreasneumann commented on #1089
An existing invoice example was sent directly to Dimas

[2020-01-09 10:22] timlinux opened #1101 "Sustaining membership pending approval email"
Thank you for your application to become a sustaining member of <org>. Your application will be reviewed by our admin team who will respond as soon as they can. If you have any queries regarding your application process please contact <sustaining membership manager>. You will receive an automated email once your application has been reviewed. If your membership is approved you can go back to the s

[2020-01-09 10:25] timlinux opened #1102 "support different subdomains for different parts of the site"
In the project admin page we could have widgets for defining the different subdomains to use e.g.

Subdomain for changelog: changelog.qgis.org
Subdomain for lessons: lessons.qgis.org
Subdomain for sustaining members: sustain.qgis.org
Subdomain for certification: certification.qgis.org

When these are populated, the subdomain can change as you move between different parts of the site.

Also when th

[2020-01-09 10:30] timlinux opened #1103 "We need new sustaining member icons for QGIS"
@anitagraser Can you come up with something a bit fresher looking?

CC @andreasneumann

![Screenshot from 2020-01-09 10-28-49](https://user-images.githubusercontent.com/178003/72060003-0614d580-32cb-11ea-849a-674fcb7fc310.png)

[2020-01-09 10:35] timlinux opened #1104 "Make the sustaining membership period options clearer"
![Screenshot from 2020-01-09 10-31-29](https://user-images.githubusercontent.com/178003/72060086-39effb00-32cb-11ea-8d97-d5fe16262318.png)

Lets add a line of text above to say:

You can choose a fixed period (e.g. 3 years) by entering a number of years on the left, or tick the checkbox on the right to enable perpetual sustaining membership (in which case you will be billed on an ongoing basis eac

[2020-01-09 11:41] anitagraser commented on #1103
We already have new graphics in the QGIS Graphics directory on Google Drive. They look like this:

![qgis-bronze-sponsor-years](https://user-images.githubusercontent.com/590385/72064937-4bda9980-32dd-11ea-9c8c-22f5ace3b28f.png)

I see that Andreas already started reworking them to replace "sponsor" with "sustaining member"

[2020-01-13 01:22] #1104 closed

[2020-01-13 01:22] dimasciput commented on #1101
Updated

[2020-01-13 01:22] #1101 closed

[2020-01-18 13:42] spatialthoughts opened #1108 "Unable to login"
I am unable to login to projecta site for issuing certificates
https://changelog.qgis.org/en/qgis/

Alo certificate lookup by id is also failing
https://changelog.qgis.org/en/qgis/certificate/1000/

<img width="1075" alt="error" src="https://user-images.githubusercontent.com/5227506/72664648-6ec82480-3a26-11ea-9f57-77570128e47e.png">

[2020-01-18 13:45] timlinux commented on #1108
Hi Ujval

Apologies for the problem - we are busy deploying some updates (including stripe payments for certificate credits) - I am waiting for auth approval.  It should be online later. CC @dimasciput

If it is urgent, create a non google or github based login and I will link it to your organisation.

Regards

Tim

[2020-01-18 13:47] timlinux commented on #1108
By the way, were you using Google or GitHub auth?

[2020-01-18 13:57] spatialthoughts commented on #1108
Thanks. Not super urgent, so will wait for the update to roll out.

I am using GitHub login

[2020-01-18 13:58] timlinux commented on #1108
Ok great. - we will update you here on the ticket when it is resolved.

[2020-01-18 15:34] timlinux commented on #1108
Can you try again please?

[2020-01-18 16:05] spatialthoughts commented on #1108
I am able to login now. But certificate lookup is still failing.

I create a course and issued 7 certificates yesterday, but I don't see the course or the certificates in my organization. Attached is one of the certificates that was issued.
[QGIS-1012.pdf](https://github.com/kartoza/prj.app/files/4080961/QGIS-1012.pdf)

[2020-01-18 16:09] spatialthoughts commented on #1108
Andreas has also issued some credits, but they seem to have disappeared as well.

[2020-01-18 16:10] geomenke commented on #1108
I was having trouble logging in via the GitHub auth today as well but this has fixed it.

[2020-01-18 20:15] timlinux commented on #1108
@geomenke note we also have Stripe payments for certificates deployed with this update

@spatialthoughts I suspect there was some lost-in-transit data as we did a backup and restore onto the new deployment. If will look on the old system for them. For your credits from Andreas - could you try out our new stripe payment system if you have not already paid @andreasneumann, otherwise I will reinstate

[2020-01-19 00:49] dimasciput commented on #1108
Hi @spatialthoughts, I have restored the certificate data, can you try again, please? Thanks.

[2020-01-19 01:12] spatialthoughts commented on #1108
Thank you @dimasciput  The restored data looks good. Closing the bug.

[2020-01-19 01:12] #1108 closed

[2020-01-19 01:15] spatialthoughts opened #1109 "Print/Download certificate is giving 500 error"
Trying to print a certificate or clicking 'download all certificates issued' button gives a 500 error

Example URL: https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/course/qgis_advanced-qgis_2020-01-18-2020-01-18/print/1161/

<img width="1104" alt="error500" src="https://user-images.githubusercontent.com/5227506/72672864-3dcc0c00-3a87-11ea-87e1-7028586c067c.png">

[2020-01-19 01:16] spatialthoughts commented on #1108
I am seeing some more issues with the system. Could be related to the migration. Have opened a new issue.

[2020-01-19 01:19] spatialthoughts opened #1110 "Deleting an an attendee doesn't update total count/credit"
I had a no-show for my course and wanted to delete the issued certificate. I was able to successfully delete the course attendee, but after deletion the credit and attendee count displayed on the organisation page remains the same. I would expect a credit to increase by 1 and attendee count decrease by 1.

https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/

[2020-01-19 07:03] dimasciput commented on #1109
@spatialthoughts can you try it again please?
cc : @timlinux

[2020-01-19 13:38] spatialthoughts commented on #1109
Print works now but download all certificates still giving 500

[2020-01-19 20:18] timlinux commented on #1109
@spatialthoughts I am going to roll back to the old server until we resolve the migration issues. Sorry for the inconvenience!
Regards

Tim

[2020-01-19 20:32] timlinux commented on #1109
@spatialthoughts ok it is reverted now - can you check if your previous entries are ok? I will assign someone to look at the 500 error tomorrow if it is also present on the old server.

[2020-01-19 20:34] timlinux commented on #1110
In our model once a certificate is issue that transaction is completed. Normally people issue the certificate only after the course completion. Do I understand correctly that your workflow is to issue all the certificates before your course and then retract the ones that were not successful?

[2020-01-19 20:35] timlinux commented on #1103
Nice @anitagraser can we some how get that into a square format?

[2020-01-19 21:07] anitagraser commented on #1103
I'll see what I can do. Do you want dates (years) in the graphics or just "QGIS small/medium/large sustaining member"?

[2020-01-19 21:20] andreasneumann commented on #1103
I think there would be use cases for both: with and without date. But definitely, we should have some without dates to replace these sponsor badges.
Thanks Anita!

[2020-01-20 06:44] spatialthoughts commented on #1109
Working fine now.

[2020-01-20 06:44] #1109 closed

[2020-01-20 06:45] timlinux commented on #1109
Great, sorry about the hassle @spatialthoughts !

[2020-01-20 06:51] spatialthoughts commented on #1110
The expectation of participants (at least in India) is to get a physical certificate after completion of the course. To be able to get the printed certificates ready to be handed out at the end of the course, I issue the certificates a few days before, get them printed on a nice card stock and hand it over once the course is completed and send email with the online certificate.

While testing the

[2020-01-20 07:02] timlinux commented on #1110
Hi

OK thanks. Maybe there should be some kind of time limit on revocation? I'm just thinking of people looking to abuse the platform somehow, though I suppose the end result would be us decertifying them if we got wind of it.

[2020-01-20 18:21] spatialthoughts commented on #1110
Thanks. Putting a time limit on revocation is a good idea.

[2020-01-26 12:46] anitagraser commented on #1103
What do you think of:

![small_member](https://user-images.githubusercontent.com/590385/73135433-1acec880-4042-11ea-929a-af15899b2d1c.png)

[2020-01-26 14:30] andreasneumann commented on #1103
Looks good to me. Would you vary the colors according to membership size or not? I don't have a strong opinion either way. Thanks, Andreas.

[2020-01-26 14:43] anitagraser commented on #1103
Yes, I'd stick to the bronze / silver / gold colors we had, even though the words are not used anymore.

[2020-01-26 18:18] anitagraser commented on #1103
So the other two would be:
![medium_member](https://user-images.githubusercontent.com/590385/73139668-9a738c00-4070-11ea-9c17-a562802e86b7.png)
![large_member](https://user-images.githubusercontent.com/590385/73139671-9c3d4f80-4070-11ea-8306-e62836dab54e.png)

[2020-01-26 23:25] timlinux commented on #1103
I wonder how this will look when scaled down to a thumbnail Anita?

[2020-01-27 08:02] anitagraser commented on #1103
@timlinux do you mean the size of the images in your initial post?

[2020-01-27 08:06] anitagraser commented on #1103
![72060003-0614d580-32cb-11ea-849a-674fcb7fc310](https://user-images.githubusercontent.com/590385/73158500-46a28a80-40e4-11ea-8da1-c0f0a8c3af6c.png)

[2020-01-27 11:27] tudorbarascu commented on #1043
This is a general problem; see also:
![problem](https://user-images.githubusercontent.com/3179646/73171146-b88ccb00-4108-11ea-9ca8-8bdce9443e50.png)
and
![problem1](https://user-images.githubusercontent.com/3179646/73171131-b0349000-4108-11ea-8112-bef1faae3410.png)

[2020-01-27 14:38] timlinux opened #1115 "Course list should use separate columns for dates"
e.g. https://changelog.qgis.org/en/qgis/certifyingorganisation/lutra-consulting-ltd/

Looks ugly - can we separate the columns for dates out

![image](https://user-images.githubusercontent.com/178003/73183377-9bf59080-4112-11ea-8b37-d19a5feb1c99.png)

[2020-01-27 14:45] timlinux opened #1116 "Course calendars should support future dates"
Note picker does not let you move to future dates.

e.g. https://changelog.qgis.org/en/qgis/certifyingorganisation/lutra-consulting-ltd/create-course/

![image](https://user-images.githubusercontent.com/178003/73183821-5a191a00-4113-11ea-8e4b-1c33afba4b06.png)

[2020-01-27 14:58] timlinux opened #1117 "Training centre does not exist"
Changelog certification creating a new course fails with:

[code]
![certification](https://user-images.githubusercontent.com/178003/73185330-c563eb80-4115-11ea-8266-76909cdc53e7.gif)

See http://sentry.kartoza.com/sentry/projecta/issues/1693/

cc @saberraz

[2020-01-28 14:30] gubuntu commented on #914
### lesson data file download file names badly constructed

The file download at https://changelog.qgis.org/en/qgis/section/symbology-22/detail/81/?q=3.1 provides a valid zip file but it has a badly constructed name, which has no .zip extension

```b'Symbology-Styling basics'```

Fix this and the download links for other worksheets

[2020-01-28 15:40] rjhale1971 opened #1119 "No Geometry Value Given"
Maybe I'm supposed to put a lat long in the address location? I have no clue. Anyway - it won't let me move forward on this part.

![Screenshot from 2020-01-28 10-38-43](https://user-images.githubusercontent.com/389868/73279116-9e132a00-41ba-11ea-853e-4f3056596fd7.png)

[2020-01-29 01:35] dimasciput commented on #1117
Fixed in https://github.com/kartoza/prj.app/pull/1118

[2020-01-29 01:35] #1117 closed

[2020-01-29 01:35] dimasciput commented on #1116
Fixed in https://github.com/kartoza/prj.app/pull/1118

[2020-01-29 01:35] #1116 closed

[2020-01-29 01:36] dimasciput commented on #1115
Fixed in https://github.com/kartoza/prj.app/pull/1118

[2020-01-29 01:36] #1115 closed

[2020-01-29 02:37] dimasciput commented on #1119
Hi @rjhale1971, thank you for the report. This issue has been fixed now, can you please try again?

[2020-01-29 23:17] timlinux commented on #1115
Thanks!

[2020-01-31 08:48] saberraz opened #1122 "Problem with some strings in certificates"
I have tried to issue a certificate but it appears with the updated website, there is an issue with the strings:
![image](https://user-images.githubusercontent.com/2649047/73525076-541e8400-4406-11ea-84e7-738542b3c279.png)

[2020-01-31 12:24] dimasciput commented on #1122
Hi @saberraz , this issue has been fixed, can you please try it again? Thanks

[2020-01-31 12:44] saberraz commented on #1122
Thanks a lot for promptly fixing the issue! It works fine now.

[2020-01-31 12:44] #1122 closed

[2020-01-31 13:25] saberraz opened #1125 "Some letters in names appear as black boxes"
see for example **ř** in here:
![image](https://user-images.githubusercontent.com/2649047/73542655-1f71f300-442d-11ea-889e-4171ec75876e.png)

[2020-02-01 09:31] dimasciput commented on #1125
Hi @saberraz , this issue should be resolved now, please try again, thanks.

[2020-02-01 21:54] timlinux commented on #1110
@dimasciput so you add a 'Revoke certificate' button next to each partifipant's name in the course page. When pressing that the revoke button, the organisation's credits will be incremented by one. If more than a week has elapsed since the training was completed, the revoke button should be disabled and the tooltip for it should read 'Certificate revocation with credit refund is only available for

[2020-02-03 00:45] #1119 closed

[2020-02-03 07:43] timlinux opened #1128 "We need to be able to stub in changelog entries from PR's"
When a PR is made in the project repo, under specific conditions, we should make a changelog entry. Those conditions include:

1. The changelog Version model does not have an enabled 'watch PRs' Attribute. The Watch PR's attribute should be managed that only one version at a time can have this flag active. So creating a new version and ticking this flag should disable watches against the previous

[2020-02-04 11:50] timlinux opened #1129 "Category names not showing when creating a changelog entry"
![image](https://user-images.githubusercontent.com/178003/73742529-80a70880-4744-11ea-8d2b-5a0bcbdd3306.png)

[2020-02-04 12:52] PeterPetrik commented on #1129
+1

[2020-02-04 13:24] peterp commented on #1129
_A wild Peter appears._

[2020-02-04 13:28] timlinux commented on #1129
Sorry @peterp I got overcome by name confusion there :-) Looks like another South African bumping around GitHub judging by your name :-)

[2020-02-04 13:36] peterp commented on #1129
Howzit! No problem, had a good laugh. 😂

[2020-02-04 14:01] PeterPetrik commented on #1129
well :)

[2020-02-05 02:26] dimasciput commented on #1129
Fixed and deployed : https://github.com/kartoza/prj.app/pull/1130

[2020-02-05 09:45] timlinux opened #1131 "Uploaded gif to entry fails"
https://changelog.qgis.org/en/qgis/version/3.12/#3d-mesh-layer-terrain-renderer

![mesh3d](https://user-images.githubusercontent.com/178003/73831268-f622df80-47fd-11ea-9383-6c0b44b9232b.gif)

<img width="246" alt="Screenshot 2020-02-05 at 08 44 19" src="https://user-images.githubusercontent.com/178003/73830270-4ac55b00-47fc-11ea-9706-5e097cf62331.png">

<img width="318" alt="Screenshot 2020-02-05

[2020-02-06 00:58] dimasciput commented on #1131
@timlinux should be fixed now

[2020-02-07 01:54] #1129 closed

[2020-02-07 01:54] #1131 closed

[2020-02-13 22:43] timlinux opened #1134 "PR fetcher does not get labels"
<img width="634" alt="image" src="https://user-images.githubusercontent.com/178003/74485238-36dfc000-4eb2-11ea-9b16-b956ca698ebb.png">

After entering the repo url there was a brief spinner but no labels shown.

[2020-02-14 02:11] ann26 commented on #1134
hi @timlinux it is because it doesn't have yet git token, you'll need git token to fetch from github api.
Could you give me the git token from kartoza account please? you can generate from this page: https://github.com/settings/tokens

[2020-02-14 06:09] spatialthoughts opened #1135 "Bulk attendee upload is broken"
I am gettting an error uploading attendees using a CSV. I have done it successfully in the past using the same format CSV. For now, I have attended the participants manually.

Attached is my upload csv with the emails replaced with test@test.com to preserve privacy.

[attendees.txt](https://github.com/kartoza/prj.app/files/4202985/attendees.txt)

[2020-02-14 07:44] timlinux commented on #1135
@ann26 can you take a look? It is probably a side effect of our python / django update.

[2020-02-14 08:00] timlinux commented on #1134
What permissions are needed?

![image](https://user-images.githubusercontent.com/178003/74512365-0292f080-4f00-11ea-9ceb-d22ab1e8ab17.png)

![image](https://user-images.githubusercontent.com/178003/74512384-0de61c00-4f00-11ea-892e-01afec0fb20b.png)

[2020-02-14 09:48] ann26 commented on #1134
@timlinux nothing it;s fine. i've put the git token in the secret so it should be working now, please try again.

[2020-02-14 10:26] timlinux commented on #1135
@spatialthoughts can you try again?

[2020-02-14 10:41] timlinux opened #1137 "Put GitHub labels in a vertical list rather."
![image](https://user-images.githubusercontent.com/178003/74524196-793ae880-4f16-11ea-879f-3cf6a8786de9.png)

Currently you have to scroll horizontally left and right to see them which is awkward.

[2020-02-16 01:24] spatialthoughts commented on #1135
Works now. Thanks.

[2020-02-16 01:24] #1135 closed

[2020-02-16 01:26] spatialthoughts opened #1138 "Download issue certificate link is broken"
I get a 500 error when trying to download issued certificates from a course. Example link https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/course/qgis_custimizing-qgis-with-python_2020-02-15-2020-02-15/download_zip/

<img width="1440" alt="download_error" src="https://user-images.githubusercontent.com/5227506/74597702-7ad8ed80-5089-11ea-9908-bb0990c7af65.png">

[2020-02-17 09:43] ann26 commented on #1043
hi @tudorbarascu sorry for the long wait, I have fixed it, please try again. Also should you find your previous certificates with wrong characters please regenerate the certificate using this button as shown in figure below:
![Screenshot from 2020-02-17 16-25-11](https://user-images.githubusercontent.com/26101337/74641830-8bca5180-51a4-11ea-8dba-f7f42d4b31e7.png)

[2020-02-17 09:43] #1043 closed

[2020-02-17 09:56] tudorbarascu commented on #1043
@ann26 Thanks a lot! I checked and the issue is solved only for the verifying workflow. For the pdf's, although I regenerated them it's still an issue. Am I doing something wrong?

[2020-02-17 09:59] ann26 commented on #1043
hi @tudorbarascu could you give me the url and the attendee where the pdf is still not working?

[2020-02-17 10:06] tudorbarascu commented on #1043
Sure! https://changelog.qgis.org/en/qgis/certifyingorganisation/qgis-qtibia-engineering/course/qgis_waterwastewater-workflows-gis-databases-telemetry-hydraulical-modelling_2020-01-20-2020-01-24/print/961/  The course convener name is the problem, not the attendee name. Thank you again for taking care of this.

[2020-02-17 14:09] spatialthoughts opened #1140 "Email certificate link is not working"
I held a certification workshop recently and issued certificates. When I click the 'email participants with a link to their certificates' it says success, but participants are not receiving any email.

Can you please look into this?
https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/course/qgis_custimizing-qgis-with-python_2020-02-15-2020-02-15/

[2020-02-17 15:20] timlinux commented on #1140
@ann26 can you look at this please?

@spatialthoughts keep filing those issues if you hit problems - we will fix as quickly as we can. Thanks!

[2020-02-18 03:29] ann26 commented on #1043
@tudorbarascu I've fixed it, please check it again.

[2020-02-18 05:09] tudorbarascu commented on #1043
@ann26 It works now! Great work! Thanks a lot!

[2020-02-19 06:18] spatialthoughts commented on #1140
Update: It seems the messages are being delivered but they are detected as Spam. See attached screenshot. Also name, organization name fields are byte strings with a 'b' prefix that should be converted to a string for the email

![Screenshot_20200219-073201](https://user-images.githubusercontent.com/5227506/74806971-542ae900-530d-11ea-811c-1d143f7c10a2.png)

I didn't realize the certificates are s

[2020-02-19 09:21] ann26 opened #1142 "preview certificate is not working"
from a user:

I'll be doing my first QGIS Training in the Philippines next month and was trying out using certificate templates in Projecta to create more personalized certificates for my attendees.

Previously, I was able to preview custom certificate templates by following the instructions here: https://changelog.qgis.org/en/qgis/about/.

But now, whenever I try to use a custom template, I get a

[2020-02-19 11:29] timlinux commented on #1103
Hi @anitagraser

So I published your new images:

![image](https://user-images.githubusercontent.com/178003/74830263-a4547c00-530a-11ea-9df8-3f1938366091.png)

Could you make a 'Flagship' one to replace the platinum one we had? I have used Large for now.

One thing I want to suggest is having the colours go from bright for high sponsorship levels to dull for small ones. At the moment the small lev

[2020-02-19 11:31] timlinux commented on #1103
sponsors -> sustaining members above

[2020-02-19 12:15] anitagraser commented on #1103
@timlinux Looking at the logo uses in your examples, it would seem that we wouldn't need to stick to a square design but could instead make wider logos or am I missing something?

[2020-02-19 14:21] timlinux commented on #1103
Yes we could use a rectangular format but I think we should still establish guidelines so that sustaining members can upload their logos knowing they will be shown nicely in the various places.

[2020-02-19 14:30] timlinux opened #1144 "Email notifications still show kartoza.com"
The web site domain should be used for links etc. in emails that are sent out.

[2020-02-19 14:36] timlinux commented on #1140
Yes this also relates to #1144 - the advertised domain should be consistent everywhere.

[2020-02-19 14:46] #1142 closed

[2020-02-19 18:51] anitagraser commented on #1103
@timlinux sorry for being unclear, I meant that our QGIS badges don't need to be square

[2020-02-20 04:34] #1144 closed

[2020-02-20 05:01] ann26 commented on #1138
hi @spatialthoughts I fixed it, please try again.

[2020-02-20 05:01] #1138 closed

[2020-02-21 09:55] spatialthoughts commented on #1138
Works. Thanks.

[2020-02-23 15:38] gioman opened #1148 "Only GH username is shown for Course Convener (not full name) so the name does not show in certificates"
![Screenshot_20200223_153635](https://user-images.githubusercontent.com/1951107/75114962-6cbf3a00-5652-11ea-86e1-accacbfb15e8.png)

The GH username of this person is "andremano", he has a public full name on GH, but the certificate platform does not show his full name, so when generating certificates the name does not show.

[2020-02-29 09:32] gioman opened #1149 "Cannot upload a CSV with attendees list"
The CSV is formatted as requested:

![Screenshot_20200229_092926](https://user-images.githubusercontent.com/1951107/75604993-57289500-5ad6-11ea-925b-f17cd3479369.png)

[2020-02-29 09:54] gioman commented on #1149
Header row had blank spaces, after removing them upload went ok.

[2020-02-29 10:00] gioman opened #1150 "Template image does not stick"
After uploading a template image and clikcing "preview" the certificate preview is ok

![Screenshot_20200229_095710](https://user-images.githubusercontent.com/1951107/75605357-01ee8280-5ada-11ea-9183-024a766543f2.png)

but after saving with "submit" and then editing the training the template image is gone

![Screenshot_20200229_095842](https://user-images.githubusercontent.com/1951107/75605369-189

[2020-02-29 10:58] gioman commented on #1148
It seems this happens of the github user of the convener has not its first/last name filled in its github profile. Problem is that even after filling it (and logging out/in from certification platform) the full name still does not show. Not even removing/re-adding him/her as convener works as workaround.

[2020-02-29 13:19] gioman opened #1151 "Error (500) opening/editing training center"
We have a couple of different  training centers with a similar name:

![Screenshot_20200229_130302](https://user-images.githubusercontent.com/1951107/75608261-df6a6280-5af5-11ea-8ee1-1714af4c1328.png)

but the link to them is identical, clicking it or pressing edit button (link also identical) causes error 500.

[2020-02-29 20:25] timlinux commented on #1151
Can you take a look please @ann26

@gioman can you share the specific link that took you to a 500 error please?

Thanks

[2020-02-29 20:25] timlinux commented on #1150
Maybe a full disk @ann26 ?

[2020-02-29 21:33] timlinux commented on #1148
Hi

For now I fixed it manually in Admin:

<img width="1032" alt="image" src="https://user-images.githubusercontent.com/178003/75615391-cf28a680-5b3a-11ea-9f3b-44efb707b9ce.png">

So it shows up nicely in your org:

<img width="374" alt="image" src="https://user-images.githubusercontent.com/178003/75615395-dc459580-5b3a-11ea-9269-1205d76fa9bd.png">

For a longer term fix @ann26 we need a profile p

[2020-02-29 21:39] timlinux commented on #1149
Can you attach the broken one here please that we can trap for these kind of errors.Thanks!

[2020-02-29 21:52] timlinux commented on #1151
For short term fix, I changed the slug for porto1

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/178003/75615586-81616d80-5b3d-11ea-8065-3a1c6577e303.png">

The tooltip shows it leads to a valid link now:

<img width="664" alt="image" src="https://user-images.githubusercontent.com/178003/75615596-aa81fe00-5b3d-11ea-9591-5ed5360088f0.png">

The link to the center now

[2020-02-29 21:52] timlinux commented on #1150
No not full, I checked. @gioman can you share the template you were trying to upload please?

Thanks

[2020-03-01 09:27] gioman commented on #1148
Thanks @timlinux !

[2020-03-01 09:29] gioman commented on #1149
@timlinux

the wrong CSV was like:

name ,lastname ,email
john,doe,jhondoe@domain.org
jane,doe,janedoe@domain.org

the accepted one:

name,lastname,email
john,doe,jhondoe@domain.org
jane,doe,janedoe@domain.org

[2020-03-01 09:31] gioman commented on #1151
Thanks!

[2020-03-01 09:31] gioman commented on #1150
@timlinux attached

![template](https://user-images.githubusercontent.com/1951107/75623171-74756600-5b9f-11ea-8414-19e2fea2b955.png)

[2020-03-03 11:35] timlinux opened #1152 "Sign up link for certification is broken when not logged in"
IF a user visits https://changelog.qgis.org/en/qgis/create-certifyingorganisation/ and they are not logged in, they get redirected to the front page. They should instead get shown a page asking them to log / create an account first and then get redirected back to the create page. They should also be shown the help link so they can find out how the certification system works.

[2020-03-03 11:36] timlinux commented on #1152
cc @andreasneumann @geomenke

[2020-03-03 11:42] andreasneumann commented on #1152
Yes, happens to me as well if I sign out and pretend to be a new user who knows nothing about the system. Quite confusing. Thanks for improving this!

[2020-03-03 15:06] timlinux commented on #1152
Same issue with sustating member sign up

[2020-03-03 15:13] timlinux opened #1153 "Sustaining member cloud broken"
![image](https://user-images.githubusercontent.com/178003/75789422-961e4b00-5d61-11ea-961a-14665de1b3b4.png)

Gives 500 error

[2020-03-03 15:55] timlinux commented on #1153
Lower priority - fix other issues first

[2020-03-04 08:52] ann26 commented on #1151
I tried to recreate the problem to no avail, usually when you created a training center it will prevent you to have the same name to prevent the same slug. So I don't know how the problem raises in the first place. I will close this issue for now.

[2020-03-04 08:52] #1151 closed

[2020-03-04 08:59] ann26 commented on #1150
should be working now @gioman

[2020-03-04 08:59] #1150 closed

[2020-03-04 09:28] gioman commented on #1150
@ann26 thanks!

[2020-03-04 09:30] timlinux opened #1157 "Info page workflow"
For certification:

![image](https://user-images.githubusercontent.com/178003/75864719-5b1c2600-5dfa-11ea-9008-bd643be06711.png)

Add a menu item above others called 'Learn about certification'

That takes us to a flat page. On the flat page I will edit some general information about the certification system - I will include a link to https://changelog.qgis.org/en/qgis/about/ on that page.

For Su

[2020-03-04 09:37] timlinux opened #1158 "GeoJson feeds for certification"
3 Feeds:

1) Geojson with point for every training org's training centres and link to their home page and their certification training page e.g. http://www.faunalia.eu/ and https://changelog.qgis.org/en/qgis/certifyingorganisation/qgis-faunalia/

2) GeoJSON as above but only for courses scheduled in the future. JSON should also contain a link to the course page: e.g.

https://changelog.qgis.org/en

[2020-03-04 09:39] timlinux commented on #1158
CC @geomenke

[2020-03-04 09:43] ann26 commented on #1152
@timlinux @andreasneumann should be working now

[2020-03-04 09:43] #1152 closed

[2020-03-04 09:48] ann26 commented on #1125
hi @saberraz i have checked it, this problem is resolved. should you find similar problem please regenerate the certificate (next to the print button)
![Screenshot from 2020-03-04 16-44-49](https://user-images.githubusercontent.com/26101337/75866355-7fe2be80-5e37-11ea-9610-5d4bb915dc01.png)

[2020-03-04 09:48] #1125 closed

[2020-03-04 09:49] ann26 commented on #1149
should be working now even using the wrong csv, please try again.

[2020-03-04 09:49] #1149 closed

[2020-03-04 09:50] ann26 commented on #1054
done

[2020-03-04 09:50] #1054 closed

[2020-03-04 09:54] #1128 closed

[2020-03-04 10:34] ann26 commented on #944
fixed here: https://github.com/kartoza/prj.app/pull/1154

[2020-03-04 10:34] #944 closed

[2020-03-04 10:43] ann26 commented on #1061
credit system is already in place

[2020-03-04 10:43] #1061 closed

[2020-03-04 10:44] ann26 commented on #1063
the credit system is already in place

[2020-03-04 10:44] #1063 closed

[2020-03-04 12:05] haubourg commented on #944
Thanks @ann26 !

[2020-03-05 12:19] ann26 commented on #1148
@timlinux @gioman user profile page is added, you can edit your details there:
![Peek 2020-03-05 17-52](https://user-images.githubusercontent.com/26101337/75981043-3ddc7a00-5f16-11ea-9b75-17b8459b9203.gif)

[2020-03-05 12:19] #1148 closed

[2020-03-05 12:46] #1158 closed

[2020-03-05 12:52] timlinux commented on #1148
Awesome, thanks @ann26

[2020-03-05 14:26] gioman commented on #1148
@timlinux @ann26 thanks!

[2020-03-06 23:46] timlinux opened #1163 "Validation incorrect on version admin form for slug"
A slug that is accepted in the frontend is refused in the backend. This means you cannot edit existing Versions in admin

<img width="994" alt="image" src="https://user-images.githubusercontent.com/178003/76130875-3bf0e480-6004-11ea-8348-e4dd4eebb5a4.png">

[2020-03-07 08:40] rduivenvoorde opened #1164 "rst export currently broken for QGIS 3.12"
Somebody with the right permissions should be able to download the rst+images in a zip:

https://changelog.qgis.org/en/qgis/version/3.12/download/

This morning it throws a 500 error.

[2020-03-09 11:54] #1134 closed

[2020-03-09 13:47] ann26 commented on #1164
hi @rduivenvoorde it's fixed now, please try again

[2020-03-09 13:47] #1164 closed

[2020-03-09 14:13] rduivenvoorde commented on #1164
@ann26 Cool Thanks!
Just tested, but somethings changed in the rest...

`index.rst:1552:Duplicate substitution definition name: "image".`

If you look into the rst you see a lot of the image names (in the substitutions at the bottom) are named 'image' I think in earlier versions they had a number image1, image2 etc.. like most of the other images.

Is this easy to fix?
Else I have to change them a

[2020-03-09 14:32] ann26 commented on #1164
hi @rduivenvoorde I will have a look

[2020-03-09 14:35] ann26 commented on #1164
hi @rduivenvoorde I see in the rst that the images have numbers on them...

[2020-03-09 14:55] rduivenvoorde commented on #1164
Hi @ann26

In index.rst I have for example:

[code]

and on the bottom of the index.rst you see there are several images with name `|image|`. I'm not sure if the `|Peek 2019-12-08 09-18|` names will work, but will try later.

[code]
I now see there are just 4 'image' names doublures, I can rename by hand, but it's strange these do not get a number...

[2020-03-09 16:07] ann26 commented on #1164
hi @rduivenvoorde I think the duplicate 'image' names are because the image is hosted from another server (github), Although I still don't understand why some of them have numbers and some don't. Also some images names retain their original names. I will continue investigate and keep you posted.

[2020-03-09 16:48] timlinux commented on #1164
@rduivenvoorde ouch if those are an issue I guess I will download them and insert them into the entries manually or something

[2020-03-11 11:47] ann26 commented on #1163
hi @timlinux I've fixed it, please try again

[2020-03-11 11:47] #1163 closed

[2020-03-11 12:28] gioman opened #1169 "[feature request] allow fixing typos in attendees names"
Not sure if I'm missing something obvious:

1) I add an attendee

2) I emit the certificate, credits goes down by 1

3) opsss, then name has a typo

4) I can't edit his name and re-issue the same certificate with the correct name and without using another credit

5) I re-add the attendee with the correct name, re-issue a new certificate and spend another credit in the process

cheers!

[2020-03-11 12:49] timlinux commented on #1169
Ouch. In the mean time I can refund your credit and / or fix the name. I think your request will be resolved when we implement #1110

Regards

Tim

[2020-03-11 12:52] gioman commented on #1169
@timlinux no need Tim! I'm happy giving the extra 20€ to QGIS!

[2020-03-11 12:53] timlinux commented on #1103
Agreed they could be another shape  (though I do quite like the square shape)

[2020-03-11 12:53] gioman commented on #1169
yeah, now I think that this is actually a duplicate of it, feel free to close.

[2020-03-18 07:31] anitagraser commented on #1103
I've implemented this idea now:

![flagship_member](https://user-images.githubusercontent.com/590385/76936078-8fabd980-68f2-11ea-958d-8a30911d37f3.png)
![large_member](https://user-images.githubusercontent.com/590385/76936116-a05c4f80-68f2-11ea-9622-5b3d6cfcccc9.png)
![medium_member](https://user-images.githubusercontent.com/590385/76936082-90dd0680-68f2-11ea-9202-38c8a833575e.png)
![small_member]

[2020-03-18 12:45] timlinux commented on #1103
Awesome, thanks so much!

[2020-03-23 14:49] nickbearman opened #1172 "Change users name after issuing certificate"
Hi,

I've issued some certificates but now one of the participants wants a different name on their certificate. I've removed them from the course, but how do I change their name? If I add a new person I end up using another credit!

Thanks.

[2020-03-23 14:57] timlinux commented on #1172
@nickbearman I will refund your credit. We have a ticket to support what you want to do (see #1110)

[2020-03-23 14:58] timlinux commented on #1172
@nickbearman oh what organisation is it that you need the credit returned for?

[2020-03-23 15:01] nickbearman commented on #1172
Thanks @timlinux
Please refund 1 credit to Geospatial Training Solutions.
Thanks for the link to the other issue - I must have missed it!

[2020-03-23 15:11] timlinux commented on #1172
@nickbearman ok done - I am going to close this in favour of #1110

[2020-03-23 15:11] #1172 closed

[2020-03-23 15:17] nickbearman commented on #1172
Thanks, makes sense, fine with me. N.

On Mon, 23 Mar 2020, 15:12 Tim Sutton, <notifications@github.com> wrote:

[2020-03-25 10:48] nickbearman commented on #1172
Just checked my balance, and it is 8 credits, whereas it was 9 previously (and should be 10 with the change). @timlinux did you add the credit ok?
(I am going to issue a certificate now, so it will go down one.)
Thanks.

[2020-03-26 09:50] timlinux commented on #1172
@nickbearman it was at 7 and I set it to 8.  I've updated it to 10 now.

[2020-03-26 10:56] nickbearman commented on #1172
Thanks, much appreciated. Sorry if I got it wrong.

[2020-04-03 08:37] rmarzocchi84 commented on #1090
Nice! We have tried it today, but IMHO there are two thing not clear:

1) it is not clear the currency (€/$ ??)
2) 1 credit is valid for 1 attendee?

[2020-04-03 09:46] timlinux commented on #1090
@rmarzocchi84 thanks for testing!

It is EUR

Correct

@dimasciput can you please make sure these two things are clear on the purchase page?

[2020-04-03 15:17] rmarzocchi84 commented on #1090
@timlinux thanks to you

![image](https://user-images.githubusercontent.com/4061154/78376593-d6762080-75ce-11ea-8882-2c7bec067b4c.png)

I think there is a problem to read the currency as you can see from the attached picture

[2020-04-04 02:19] dimasciput commented on #1090
Hi @rmarzocchi84

It has been fixed now.

<img width="1142" alt="image" src="https://user-images.githubusercontent.com/1979569/78416742-5050ed00-7655-11ea-99bd-0479faf76b64.png">

cc @timlinux

[2020-04-05 20:53] timlinux commented on #1090
Thanks @dimasciput !

[2020-04-05 20:53] #1090 closed

[2020-04-08 18:14] spatialthoughts opened #1173 "Allow online training center"
I am planning to offer my certification courses as a live online class. It isn't clear how to set it up as a new training center. Would be good to have an option of an 'online' training center than one associated with a physical address.

[2020-04-08 23:05] timlinux commented on #1173
Thanks for the suggestion, I will add it to the TODO list - in the mean time I suggest to create a center called 'online' with generic info / misuse the address to indicate that it can be attended from anywhere.

[2020-04-17 09:11] timlinux opened #1174 "Please merge Django 2.2 branch into master and develop"
Than work against those branches again and deprecate 2.2 branch

[2020-04-17 09:11] timlinux commented on #1174
FYI @dimasciput

[2020-04-21 04:57] #1174 closed

[2020-04-24 14:16] spatialthoughts opened #1178 "CSV Upload is broken"
I get a HTTP 400 error when I click on import attendees.
https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/course/qgis_advanced-qgis_2020-04-04-2020-04-04/upload/

[2020-04-24 14:17] spatialthoughts opened #1179 "Unable to edit Online training center"
I created a training center 'Online' but unable to edit it. Might have something to do with the address.
https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/trainingcenter/online/update/

[2020-04-24 14:19] spatialthoughts commented on #1179
<img width="852" alt="Screen Shot 2020-04-24 at 7 49 07 PM" src="https://user-images.githubusercontent.com/5227506/80222599-bb924b80-8664-11ea-8f3e-c7b5de012801.png">

[2020-04-25 20:10] timlinux commented on #1179
![image](https://user-images.githubusercontent.com/178003/80289796-09788380-8739-11ea-93da-0d1716ba6912.png)

@ann26 can you look into this please? Also more generally we need to figure out a nicer way to accommodate 'online' as a training center.

See https://changelog.qgis.org/en/site-admin/certification/trainingcenter/91/change/ - the recrod seems to have been created properly.

[2020-04-25 20:11] timlinux commented on #1178
@ann26 please look at this (and add a unit test too please!)

[2020-04-25 20:14] timlinux commented on #1178
Error message:

[code]

[2020-05-05 18:05] timlinux opened #1180 "Add a flag for sustaining members to indicate whether they want to get email notices"
We want to occasionally send them invitations to support crowdfunding - we need an opt in system for that.

cc @andreasneumann

[2020-05-13 14:24] elpaso opened #1181 "Login with github wants to read/write all my gihub repos"
Why?

[2020-05-13 14:28] elpaso opened #1182 "Submit button in form for training registration is not visible on FF"
Looks like it's covered by the chat footer

![immagine](https://user-images.githubusercontent.com/142164/81825228-ac514000-9536-11ea-9b4e-2b9b428afd93.png)

[2020-05-13 22:17] timlinux commented on #1182
Hi @elpaso thanks for the report - @ann26 will you look please?

[2020-05-13 22:32] timlinux commented on #1181
Hmm I have no idea why it wants that. @ann26 can you take a look please? Does it maybe relate to that deprecated social auth thing we were chatting about the other day?

[2020-05-21 11:10] spatialthoughts commented on #1178
This is still broken. I have a training this weekend and bit painful to add 10 attendees manually. Any chance it can be fixed before that?

[2020-05-21 13:31] #1178 closed, assigned to ann26

[2020-05-21 13:50] anitanh commented on #1178
Hi @spatialthoughts Sorry for this inconvenience, I've fixed it. Please try again. Let me know if it works for you.

[2020-05-21 17:58] spatialthoughts commented on #1178
Thanks fir the fix! Works now.

[2020-05-22 08:27] timlinux opened #1184 "Order categories view shows duplicates"
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/178003/82647677-77b44700-9c0e-11ea-9d7f-de3c4da8a5d2.png">

https://changelog.qgis.org/en/qgis/category/order/

Should only show one of each unique value.

[2020-05-22 08:44] timlinux opened #1185 "Flat page link not working"
I added a flat page

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/178003/82649212-bfd46900-9c10-11ea-8a01-5c1ed3c2c4ff.png">

But when I click the link it just shows the project home page.

[2020-05-23 12:39] rduivenvoorde opened #1186 "Exported rst contains a lot: Inline literal start-string without end-string."
Current version of rst-export (dd 23rd may 2020), does not cleanly compile in Sphinx, giving errors like:

index.rst:941:Inline literal start-string without end-string.

It appears that a lot of items have a pipe-symbol ('|') prepended:

[code]

I have seen this before in earlier versions, but now it looks like a lot of items have it.

I'm not sure why some items have it and others not.

[2020-05-23 12:41] rduivenvoorde opened #1187 "Exported rst contains a lot of duplicate definition names"
Current version of rst-export (dd 23rd may 2020), does not cleanly compile in Sphinx, giving errors like:

index.rst:1780:Duplicate substitution definition name: "image".

It appears that a lot of images are named 'image':

[code]

Would be good to ensure that these are unique names (at least for the rst export)

[2020-05-23 12:44] rduivenvoorde opened #1188 "RST export: sphinx cannot hanlde space replacements?"
Current version of rst-export (dd 23rd may 2020), does not cleanly compile in Sphinx, giving errors like:

index.rst:39:Undefined substitution referenced: "cumulative_animation_range".

Some images name seem to contain spaces, which are replace by '\_' or so?

Se below:

[code]

[2020-05-23 12:48] rduivenvoorde opened #1189 "RST export: it would be best if the export would contain the real images"
In current export, people link there images to github images:

[code]

But if we want to be able to independent of github, or if we want to be able to generate thumbnails ourselves, it would be best to download and save those images, so they will be available in the export (as they were earlier??).

I have been trying to get https://github.com/sphinx-contrib/images working but fail to do this if t

[2020-05-26 12:22] #1185 closed, assigned to ann26

[2020-05-26 12:22] anitanh commented on #1185
hi @timlinux i've fixed it, please try again

[2020-05-28 07:02] mbernasocchi opened #1191 "strings in certificate mail include b'string'"
I just sent myself a certificate to test the email and the dynamic strings in the email are shown with  a `b' '` prefix.
for example `dear b'Marco' b'Bernasocchi'`
![image](https://user-images.githubusercontent.com/233663/83113369-db83b780-a0c7-11ea-9677-12fe3f130dfa.png)

[2020-05-29 08:45] ismailsunni opened #1192 "Render Like GitHub"
Prj.app takes the description from PR on Github, which sometimes contains emoji e.g. 👏 or a link to an existing issue/QEP/PR. It would be great to see this on the changelog also.

Low priority for sure :)

[2020-05-29 08:47] ismailsunni commented on #1192
Example: https://changelog.qgis.org/en/qgis/version/3.14/#vector-tile-layer-part-5-identify-tool

[2020-05-29 08:50] dimasciput commented on #1192
terima kasih atas masukannya baginda @ismailsunni

[2020-05-29 08:52] ismailsunni commented on #1192
Sama-sama tuan @dimasciput

[2020-06-03 06:11] rduivenvoorde commented on #1192
@ismailsunni may I add here that it would be best if we downloaded those images in my opinion?

The Visual Changelogs in qgis.org are 'rst'-exports, so they are buildable in Sphinx and translatable in transifex.

But currently links to online (github) sites does not work in the build. That is why I personally prefer to pull the images INTO prj.app

[2020-06-03 06:53] timlinux commented on #1192
@rduivenvoorde thanks - yes that is the plan - I have asked @ann26 to spend some time on Friday to try to get the RST export ready so you can test.

[2020-06-03 20:51] timlinux opened #1193 "We lost the release menu"
Since the CMS menu is added, we lost the one for the releases

![image](https://user-images.githubusercontent.com/178003/83687871-56773180-a5e4-11ea-8195-40dfee00067d.png)

[2020-06-08 03:52] anitanh commented on #1193
hi @timlinux have you logged in? only staff or changelog managers can see the changelog menus
![Screenshot from 2020-06-08 10-50-39](https://user-images.githubusercontent.com/26101337/83991134-131b1b00-a976-11ea-95e1-696e8bf61852.png)

[2020-06-10 21:56] timlinux commented on #1189
Any updates @ann26 ?

[2020-06-11 10:47] anitanh commented on #1189
@timlinux I made a PR here https://github.com/kartoza/prj.app/pull/1195

[2020-06-11 11:10] #1189 closed, assigned to ann26

[2020-06-11 21:40] timlinux commented on #1189
Thanks!

[2020-06-12 04:42] anitanh commented on #1188
this issue has been handled in this PR: https://github.com/kartoza/prj.app/pull/1195. Since it removes the name of the image and so in RST it will has name like `|image1|` etc

[2020-06-12 04:42] #1188 closed, assigned to ann26

[2020-06-12 04:43] anitanh commented on #1187
this issue has been fixed here https://github.com/kartoza/prj.app/pull/1195

[2020-06-12 04:43] #1187 closed, assigned to ann26

[2020-06-12 04:49] #1191 closed, assigned to ann26

[2020-06-12 04:52] anitanh commented on #1186
hi @rduivenvoorde yes I found this too probably because they had github formatting, but the latest one doesn't have this because the entries has been converted into html when we download the remote images.
Nevertheless, if you find this problem again please let me know.

[2020-06-12 04:52] #1186 closed, assigned to ann26

[2020-06-12 04:54] anitanh commented on #1191
hi @mbernasocchi I fixed it, please try again.

[2020-06-12 06:26] rduivenvoorde commented on #1186
@ann26 @timlinux ok I can do some tests today. Is this version already deployed on the live server? Or should I wait untill you give me a message?

[2020-06-12 07:01] anitanh commented on #1186
hi @rduivenvoorde yes it's already deployed on the live server

[2020-06-14 23:28] timlinux opened #1198 "Changelog still refers to sponsors"
![image](https://user-images.githubusercontent.com/178003/84606550-024f3580-ae9f-11ea-8f81-747aab03f11b.png)

Reame sponsors to sustaining members in the changelog please

CC @andreasneumann

[2020-06-15 04:03] #1198 closed, assigned to ann26

[2020-06-15 05:46] #1193 closed, assigned to ann26

[2020-06-23 07:09] Ojaybee commented on #1182
I was finding this on FF and Chrome (using a windows laptop). If you zoom the page out (ctrl + scroll wheel) the submit button is revealed under the footer

[2020-07-01 15:08] Gustry opened #1200 "Logging with GitHub account"
I was trying to logging with a new GitHub account and it seems not working.
After entering my github credentials, I keep being redirected to https://changelog.qgis.org/en/accounts/social/signup/ which is a page without CSS at all:

![Selection_001](https://user-images.githubusercontent.com/1609292/86260192-3f186d80-bbbd-11ea-8058-6604958e9460.png)

Pressing "Sign up" keep me on the same page.
I ge

[2020-07-17 03:51] #972 closed

[2020-07-18 09:13] #1181 closed, assigned to ann26

[2020-07-18 09:16] anitanh commented on #1181
hi @elpaso sorry for the long wait, i have fixed it, now it only has read only access.

[2020-07-18 09:17] anitanh commented on #1200
hi @Gustry I have just tried to login using my github account and it works fine. Can you try again?

[2020-07-19 22:21] timlinux commented on #1200
@Gustry I just tested here - worked fine for me too...

[2020-07-20 02:44] anitanh commented on #1200
@Gustry I've just tried again using a new github account, using firefox and chrome and they are working too..

[2020-07-20 07:35] Gustry commented on #1200
Hum, this is strange.

I still can replicate the issue on different computers. And this issue has been raised by one of my colleague, so on another laptop.

* Go on https://changelog.qgis.org/en/accounts/login/
* Click on `Sign in with GitHub`:
  * On Chromium, it works indeed
  * On Firefox, I sill have the raw layout, without CSS

![Screenshot from 2020-07-20 09-27-36](https://user-images.github

[2020-07-21 15:16] Gustry opened #1202 "Save button is visible"
I was trying to create a organization on this page:
https://changelog.qgis.org/en/qgis/create-certifyingorganisation/

On my screen, zoom by default at 100%, I can't see the "Save" button.

![Screenshot from 2020-07-21 16-44-48](https://user-images.githubusercontent.com/1609292/88072230-14468700-cb75-11ea-888a-d7525c06b064.png)

Hopefully, by reducing the zoom to 80%, I could see the button, **whi

[2020-07-24 05:08] #1182 closed, assigned to ann26

[2020-07-24 05:08] #1202 closed, assigned to nobody

[2020-07-24 05:12] anitanh commented on #1202
hi @Gustry I've fixed it, please try again.

[2020-07-24 05:13] anitanh commented on #1182
hi @elpaso and @Ojaybee I've fixed it, please try again.

[2020-07-24 05:29] #1184 closed, assigned to nobody

[2020-07-24 07:50] #1173 closed

[2020-07-24 07:50] #1179 closed, assigned to ann26

[2020-07-24 07:53] anitanh commented on #1179
should be fixed now @spatialthoughts

[2020-07-27 14:17] HugonES opened #1206 "How to get invoice for the certyfication credits? (any working contact??)"
**as in title** - we only received an automatic reply with the bill number

[2020-07-29 04:58] #1169 closed

[2020-07-29 05:25] #1137 closed

[2020-07-29 07:41] #1110 closed

[2020-07-29 07:43] anitanh commented on #1157
this is already done
![Screenshot from 2020-07-29 14-43-13](https://user-images.githubusercontent.com/26101337/88771740-e16e4580-d1a9-11ea-9dec-9f3a99488a45.png)
![Screenshot from 2020-07-29 14-43-19](https://user-images.githubusercontent.com/26101337/88771743-e206dc00-d1a9-11ea-9159-ab963ae84cba.png)

[2020-07-29 07:43] #1157 closed

[2020-07-29 07:46] anitanh commented on #1062
It's in the navigation bar now
![Screenshot from 2020-07-29 14-43-13](https://user-images.githubusercontent.com/26101337/88771919-26927780-d1aa-11ea-9cf8-f3d24c255708.png)

There is also info pages here where we can add flatpage page
![Screenshot from 2020-07-29 14-45-49](https://user-images.githubusercontent.com/26101337/88771993-43c74600-d1aa-11ea-8702-b52f1232244e.png)

[2020-07-29 07:46] #1062 closed

[2020-07-29 09:41] #1029 closed

[2020-07-29 22:03] timlinux commented on #1206
Hi Hugo

The invoices are generated during your stripe payment. Alternatively if you are paying by bank transfer, they are generated manually by @andreasneumann

[2020-07-30 06:52] HugonES commented on #1206
Hi Tim

Unfortunately we didn’t receive any invoice, just something like that:

It’s is very important for us to solve this issue as fast as possible cause we plan to certify 15-20 trainees more.

I’m looking for you help.

Kind regards,
Michal Zugajewicz
EnviroSolutions
+48 501540755

[2020-07-30 07:07] #1153 closed

[2020-07-30 07:12] #1056 closed

[2020-07-30 07:17] anitanh commented on #1016
hi @timlinux it's here:
![Screenshot from 2020-07-30 14-10-04](https://user-images.githubusercontent.com/26101337/88892325-c74a6b00-d26e-11ea-9b06-e3b741634d80.png)

[2020-07-30 07:19] anitanh commented on #1011
It's already fixed
![screencapture-changelog-qgis-org-en-qgis-version-list-2020-07-30-14_18_49](https://user-images.githubusercontent.com/26101337/88892824-a2a2c300-d26f-11ea-9059-508b6a780f6f.png)

[2020-07-30 07:19] #1011 closed

[2020-07-30 07:20] anitanh commented on #999
we have the revoke certificate system now (https://github.com/kartoza/prj.app/pull/1209), you can revoke the certificate and you'll get a refund for that certificate to your credits

[2020-07-30 07:21] #999 closed

[2020-07-30 07:23] anitanh commented on #984
Already fixed
![Screenshot from 2020-07-30 14-23-30](https://user-images.githubusercontent.com/26101337/88893248-455b4180-d270-11ea-9c06-dafed286a742.png)

[2020-07-30 07:23] #984 closed

[2020-07-30 07:29] anitanh commented on #955
It's fixed now

[2020-07-30 07:29] #955 closed

[2020-07-30 07:30] #943 closed

[2020-07-30 07:31] #945 closed

[2020-07-30 07:32] #929 closed

[2020-07-30 07:35] #927 closed

[2020-07-30 07:36] #491 closed

[2020-07-30 07:37] #490 closed

[2020-07-30 07:38] #399 closed

[2020-07-30 07:38] #349 closed

[2020-07-30 08:10] dimasciput commented on #1206
Hi @HugonES ,

Did you use stripe for the payment?

[2020-07-30 08:15] HugonES commented on #1206
Yes. To speed up the entire process, I am sending the company details
below:

EnviroSolutions Sp. z o.o.
Glowna 74
05-505 Wola Prazmowska
POLAND
PL1231288496

Hope you can solve the issue.

---
Regards,

Michal Zugajewicz
EnviroSolutions Sp. z o. o.
tel: +48 501 540 755 [4]
ceo@envirosolutions.pl
www.envirosolutions.pl [5]

CityGuideTour [6] - Aplikacja turystyczna z Rozszerzoną Rzeczywistością
dl

[2020-07-30 08:29] dimasciput commented on #1206
@HugonES

The receipt should’ve been sent to office@envirosolutions.pl from Stripe at 6th July 2020. Can you check the inbox for that email address?

[2020-07-30 08:33] #757 closed

[2020-07-30 08:34] anitanh commented on #757
hi @mbernasocchi sorry for the very long wait! I finally made it happen here: https://github.com/kartoza/prj.app/pull/1214

[2020-07-30 09:39] HugonES commented on #1206
The only thing we’ve got is this email, nothing else:

We are still looking for the invoice.

Regards,
Michal Zugajewicz
+48 501540755

[2020-07-30 13:08] dimasciput commented on #1206
@HugonES , did you try attach an image? Because I couldn't see anything.

From the stripe you should receive something like this :
![image](https://user-images.githubusercontent.com/1979569/88926508-4b691680-d2a0-11ea-82b7-96e39b1af714.png)

[2020-08-03 08:25] HugonES commented on #1206
Dear,

Do you have any information regarding our invoice??? Another week has
passed and we still haven't received any document from you. Our
accounting office is putting pressure on us in this matter. I would ask
the case to be closed by the end of today.

I am sending data for the invoice one again:

EnviroSolutions Sp. z o.o.
Glowna 74
05-505 Wola Prazmowska
POLAND
tax no. PL1231288496

Regards,

[2020-08-03 08:48] dimasciput commented on #1206
I couldn't create an invoice because I don't have the access to Stripe. Hi @andreasneumann, can you please help us with this issue?

[2020-08-03 09:07] timlinux commented on #1206
Dear Michael

The system does not generate invoices, only receipts. Please follow up with @andreasneumann (andreas@qgis.org) and ask him to create on manually for you.

Thank you

[2020-09-11 09:27] nboisteault commented on #1200
I can connect with Github to https://changelog.qgis.org/en/qgis/ but I can't connect to http://changelog.lizmap.com/en/lizmap/version/3.4/ as I'm always redirected to https://changelog.qgis.org/en/qgis/

I'm using Chrome 85 on Ubuntu 18.04

[2020-09-28 08:28] Gustry opened #1215 "Import PR from Github, missing labels"
On http://changelog.lizmap.org, I'm trying to setup the auto-harvesting PR function from GitHub.

But it seems the list of labels is emtpy:
![Screenshot from 2020-09-28 10-20-48](https://user-images.githubusercontent.com/1609292/94408179-b89c0980-0174-11eb-8971-4be455bade8b.png)

So we have an error when trying to harvest. What can we do to have the list of labels?

Side question, I guess we need

[2020-10-06 07:38] rduivenvoorde opened #1216 "After updating the splash in 3.16 it is not visible anymore"
I thought to update the splash with the upcoming one from Google drive of Anita,
but after editing (the version) it is not visible anymore in the site:
https://changelog.qgis.org/en/qgis/version/3.16/
https://changelog.qgis.org/media/images/projects/dbc0cef663f2f652e0961ac2ed168eb45ed2e182.png gives an 'forbidden'..

[2020-10-06 08:39] rduivenvoorde opened #1217 "Title level inconsistent in rst/sphinx build"
Several items have this:

[code]

Ending up as a H2 title.. but... this should be a H4 title because (at least in sphinx there are 3 title levels above it):
- main level
- section level
- feature level

Also in projecta itself the font of "Description" is rather big.

Not sure if this comes from some template, if so please make it ```<h4>Description</h4>```

Else I have to change all those underli

[2020-10-06 08:41] rduivenvoorde commented on #1217
As release is within 3 weeks and we want to bring changelog online at the same time: ping @timlinux , see last two issues

[2020-10-06 09:56] zacharlie commented on #1216
I have had this issue with media on the changelog. Sometimes (although not always) uploading the image again resolves it... Still an issue that needs to be resolved but the "turn it on and off again" routine seems to be a possible workaround.

[2020-10-06 10:01] zacharlie commented on #1217
I am manually stripping out the headers wherever possible, so if you see any of these that aren't in "General" please let me know. I usually load the page and inject custom CSS using the browsers F12 devtools and make the offending content brightly colored to prevent them ending up in the visual changelog. I try remove all <h> tag references because otherwise they also seem to pollute the changelo

[2020-10-06 10:02] rduivenvoorde commented on #1216
Just tried to upload it again, it is current splash:
https://drive.google.com/open?id=1GmSpwppbX9dIjYrf3n_ZelC97Bv-lRYU

But it still does not show up:

![Screenshot-20201006120201-1348x445](https://user-images.githubusercontent.com/731673/95187708-c2a0b680-07cb-11eb-8b99-a8ddd94d8cb6.png)

url is now: https://changelog.qgis.org/media/images/projects/dbc0cef663f2f652e0961ac2ed168eb45ed2e182.png

[2020-10-06 10:09] Gustry commented on #1215
I have setup prj.app on my local machine here, setting up the github token and I could get the labels working.

I have also tried on https://changelog.qgis.org and the script could harvest labels from the Lizmap repository.

@timlinux Can you check that there is a token for GIT on changelog.lizmap.com ? It seems a different server than changelog.qgis.org.

From https://github.com/kartoza/prj.app/b

[2020-10-06 10:37] zacharlie commented on #1216
I see. I tried as well and when it redirected to the versions list I see the thumbnail is available... bu I also get a permissions error (403) when trying to access the actual file. Might be a webserver config issue... Or a user permissions problem...

![image](https://user-images.githubusercontent.com/64078329/95191070-83289900-07d0-11eb-8525-9e63f450bbdf.png)

[2020-10-06 10:46] timlinux commented on #1217
Thanks @rduivenvoorde I will assign this to @sumandari - feel free to contact her / assign her for any other paper cuts

[2020-10-06 12:48] timlinux commented on #1215
Hi

Yes it is on a different server. @sumandari can you copy the token over from the changelog.qgis.org server to the instance on changelog.kartoza.com please?

[2020-10-06 12:50] timlinux commented on #1216
So it is a bug in that if you change the splash or version text, the version gets unpublished. @sumandari can you make sure the publish status remains intact after doing any edits?

[2020-10-06 12:53] rduivenvoorde commented on #1216
@timlinux what do you mean 'get unpublished'? I do not think 3.16 got unpublished, did it?

https://changelog.qgis.org/en/qgis/version/3.16/

Just the permissions of the image file seem wrong?
As @zacharlie says (and shows in the screenie above), 3.16 is in the Versions list, AND shows the right splash (there!)...
I think @zacharlie ment to say that he get's a permission error when he tests the im

[2020-10-06 13:03] timlinux commented on #1216
Ok I fixed the image. @sumandari the bug is actually if you save the version description in the frontend editor, it drops the release date. If you save it in django admin, it preserves the date.

So:

https://changelog.qgis.org/en/site-admin/changes/version/53/change/ works
https://changelog.qgis.org/en/qgis/version/3.16/update/ drops publish date on save.

@rduivenvoorde sorry I got my wires cros

[2020-10-06 13:18] rduivenvoorde commented on #1216
@timlinux thanks!

Yes I was testing the import. But will wait for https://github.com/kartoza/prj.app/issues/1217 to be fixed, to test again, otherwise I have to fix the rst manually first on a lot of lines....

[2020-10-08 07:48] sumandari commented on #1215
@timlinux  I have copied the GIT_TOKEN over from changelog.qgis.org server to changelog.kartoza.com server (core/settings/secret.py).

[2020-10-08 08:01] Gustry commented on #1215
I can confirm I can see labels now. Thanks!

I will let #1218 open as it's still needed to debug.

[2020-10-08 08:01] #1215 closed, assigned to sumandari

[2020-10-08 11:49] zacharlie opened #1219 "Allow multiple media items to be uploaded for changelog entries"
From the changelog entry editing interface, only a single media item can be uploaded and attached to the entry. For the QGIS changelog, more and more entries have additional media which is relevant to the entry, however only a single item may be uploaded at a time.

As a work around, each media element is currently attached independantly one at a time and references to the uploaded location are us

[2020-10-08 12:07] zacharlie commented on #1217
@rduivenvoorde Not all entries have been edited yet, but I have manually stripped out the header tags for the time being for the 3.16 changelog if you would like to run your tests again.

[2020-10-08 13:34] rduivenvoorde commented on #1217
@zacharlie I just checked again, and I now see the main issue is that there are 2 index.rst files in the zip:
one in the root, the good one
and one in the images directory, and that one is giving problems.
If I remove that one the build is fine!!
Thanks for your work!

[2020-10-09 17:58] sumandari commented on #1216
@timlinux

As per your description, the bug is spot on.  I found out that the VersionForm needs to assign the value of release_date attribute when the instance invoking save method, since it doesn't include the release_date in the form Fieldset.

I added these 3 lines after  [https://github.com/kartoza/prj.app/blob/develop/django_project/changes/forms.py#L98](https://github.com/kartoza/prj.app/blo

[2020-10-13 08:43] timlinux commented on #1217
@sumandari can you please check why we are generating an index.rst in the zip and remove it from the generation process?

[2020-10-14 07:51] sumandari commented on #1217
@timlinux @rduivenvoorde

I am sorry for asking this, just to make it clear, could you share where I can get/generate the zip you mentioned in this issue?
I was trying run in my local machine http://0.0.0.0:61202/en/qgis/version/3.16/download, but I only got 1 index.rst instead of 2 in zip folder.

<img width="762" alt="Screenshot 2020-10-14 at 3 48 29 PM" src="https://user-images.githubuserconten

[2020-10-14 09:55] rduivenvoorde commented on #1217
@sumandari I just downloaded and I do not see it it (anymore?). Note that (this is not clear to me from the screenie), there should NOT be an index.rst IN the images folder. The root of the zip should contain only an index.rst and an images folder:

![Screenshot-20201014114936-521x1140](https://user-images.githubusercontent.com/731673/95973006-6ebd4f80-0e13-11eb-8e44-c36d6d04418b.png)

Currently I

[2020-10-14 09:58] rduivenvoorde commented on #1216
@timlinux @sumandari is this deployed automagically? I'm just wondering when it will show up in the real site (feel more or less responsible for this breakage....) :-)

[2020-10-14 10:37] sumandari commented on #1216
@rduivenvoorde
Sorry I just moved this issue from **in progress** to **done** so that make this issue closed :sweat_smile:. I reopen this issue and  will ask @timlinux to confirm about the deployment.

[2020-10-15 08:36] sumandari commented on #1217
@rduivenvoorde

thanks, that's very clear for me now. I will try to add validation and test to ensure there shouldn't be an index.rst file in images folder and the root folder only contains an index.rst and an images folder.

[2020-10-15 09:59] sumandari commented on #1219
@zacharlie

could you please confirm if the idea is to modify input file in `/<project>/version/<version>/update/`from single input to multiple input looks like demo:

![imageedit_1_5146705965](https://user-images.githubusercontent.com/40058076/96108355-0c964480-0f10-11eb-969d-4cfd6de8adba.gif)

how it should be displayed on the detail view page? will it be using boostrap corousel?

[2020-10-15 12:07] zacharlie commented on #1219
Yes, the general idea is what you have depicted. I don't know the specifics on how the implementation will affect the outputs which get used in https://qgis.org/en/site/forusers/visualchangelogs.html, so maybe @rduivenvoorde or @timlinux might have a suggestion as to how the want the media to be exposed/ stored/ used, but on the detail page within projecta I imagine just having multiple thumbnails

[2020-10-15 12:44] rduivenvoorde commented on #1219
Although we are talking about a 'visible changelog', I would stick to one figure per item. We already have animated gifs/screenies, and I think that should be enough. IF people really want to talk so much about their feature, let us point them to the documentation writing and let them write a huge section there. That is more helpfull that writing huge feature items :-)

Also because (well to me) t

[2020-10-15 13:36] zacharlie commented on #1219
Noted. Initially when I had started this process of changelog maintenance I aimed for minimal interference (from the maintenance side), so that I don't make work for others if I fall off the earth, but it certainly seems that removing verbose content from the changelog and leaving the extra media for the documentation team is a good approach.

I still feel that the ability to add multiple media it

[2020-10-19 05:43] sumandari commented on #1219
Hi, @zacharlie

It took time for me to get back here for learning the code. Please correct me if I were wrong, there's an image_file in Entry model. From my humble opinion, we can create a new model to manage additional images. If user uploads more than one image, the rest will be saved in additional models. I'm not sure if the order in row needs to be a concern for the images.
I'm looking forward

[2020-10-19 16:29] zacharlie commented on #1219
I think just being able to include multiple images should be enough for now. If anybody needs further functionality or a change in the implementation we can perhaps open a new ticket.

[2020-11-04 22:00] rmarzocchi84 opened #1228 "Certification for course convener"
It is possible to obtain a certificate for course conveners?

It is strange that people participating to our courses obtain a certification that we, as conveners, doesn't have.

Perhaps something it is not clear to me about the process to obtain a certificate without a course (e.g. from a internship in our company or other)

[2020-11-10 20:38] Gustry opened #1230 "Images are broken in a new changelog entry"
Following my PR #1224, it seems it's not working as expected.

https://changelog.qgis.org/en/qgis/version/3.18/

New items have a 404 picture.

Sorry, I struggle to have a working dev environment. (as I don't use PyCharm Pro).

@dimasciput Do you want me to revert or can you fix it?
I need first a proper way to develop ...

Nice other fix, it would be the link to the GitHub user profile. For now,

[2020-12-21 22:47] zacharlie opened #1232 "Add youtube links to module pages and pdf outputs"
Lesson modules currently support the inclusion of a "youtube link", but do not include the link within the module contents or in the output pdf.

Ideally, this functionality should exhibit the following behaviour:

- [ ] For PDF outputs, the video link should be added to the top of the "Further reading" section and use the link description *module video tutorial*
- [ ] For web forms, the video sho

[2020-12-21 22:48] zacharlie opened #1233 "Add a "funded by" element to lessons"
Add a "funded by" element, the same as which is available in the changelog entries, but for lesson modules.

[2020-12-21 22:51] zacharlie opened #1234 ""Add New" for "Further reading" elements"
Currently it seems the only way to create further reading elements is via the django admin interface. This may possibly be a permissions error, but it is required that further reading items are able to be added from the module page

[2020-12-21 22:58] zacharlie opened #1235 "Change "Further reading" styles"
Currently, the Further reading elements are simply a space separated element with a text description and a hyperlink. This should be re-evaluated so that elements are clearly defined, legible and usable across various media types (digital/ print etc.)

At this time, I would be happy if the field was a simple rich text field that directly renders markdown/ html in order to offer flexibility to cont

[2020-12-21 23:05] zacharlie opened #1236 "evaluate and change downloads behaviour"
Some strange behaviour has been observed when interacting with platform media and downloads, however these may have been infrastructure related or pertain to legacy content. Regardless, the download functionality should be evaluated carefully by all parties concerned to identify any possible bugs or UX enhancements.

Currently, when downloads do work as expected it seems that course contents are e

[2020-12-21 23:10] zacharlie opened #1237 "Change object references"
Some worksheet references display object references rather than meaningful content identifiers, such as ```Worksheet object (100)``` which can be viewed from answer sheets in section modules.

![image](https://user-images.githubusercontent.com/64078329/102830517-21042b00-43f2-11eb-8892-22e8417cefff.png)

Public example: https://changelog.kartoza.com/en/geonode/section/geonode-28/answers/28/

[2020-12-21 23:15] zacharlie opened #1238 "Add content license information"
Course content should include a field for content license information. Ideally, this license information should be included with course resource downloads.

[2020-12-21 23:22] zacharlie opened #1239 "Enhance PDF outputs"
Aside from the issues outlined in #1236 , PDF outputs should be further enhanced for print materials by customising the styling used to generate PDFs

Currently the following specific items need to be addressed:

- List items margins/ left padding needs to be reduced to be in line with paragraph content
- Table rendering issues need to be addressed. Currently tables overlap with associated media e

[2020-12-21 23:26] zacharlie opened #1240 "Add print controller elements to worksheets"
Related to the issues in #1239 , it would help if print-only controller elements were introduced to worksheet layouts for improving pdf export quality.

Immediate use cases are the inclusion of page break elements, or the definition of media/ content sizes to ensure that screenshots etc. can be resized when generating pdfs.

[2020-12-21 23:27] zacharlie opened #1241 "Edit worksheet table headers"
Currently it seems that worksheet tables have static header values, which should be able to be edited

[2020-12-22 08:27] sumandari commented on #1236
Hi @zacharlie, thanks for the detail. It help me found the naming issue in the code.
https://github.com/kartoza/prj.app/blob/cff9bdb21be92ccfa536d15638a2387435fc8fd4/django_project/lesson/views/worksheet.py#L139
I think decode the string (file_name) will remove `prefix b'` in the filename. I tried on my local machine:
![changelog_1236_downloaded_filename](https://user-images.githubusercontent.com/

[2020-12-22 09:02] zacharlie commented on #1236
As an example, when downloading a pdf, I would expect to be able to save the file and have the system prompt me to save it as *1.1. QGIS User Interface Tour.pdf*, but instead it requests *1.1. b'Introduction to QGIS-QGIS User Interface Tour'. b'Introduction to QGIS-QGIS User Interface Tour'* of an unknown file type

![image](https://user-images.githubusercontent.com/64078329/102869901-f2fc0680-444

[2020-12-22 09:04] NyakudyaA opened #1243 "Enable smarter download options"
# Problem

Not all worksheets have data content. I suggest we only show the Download data options if the worksheets contain a zip file
![downsad](https://user-images.githubusercontent.com/2510900/102870185-5a19bb00-4445-11eb-9599-3e5c78287550.png)

Example https://changelog.kartoza.com/en/geonode/section/geonode-28/detail/108/?q=1.18

[2020-12-22 09:10] NyakudyaA commented on #1236
Another issue related https://github.com/kartoza/prj.app/issues/914

[2020-12-22 09:12] sumandari commented on #1236
Thank you @zacharlie @NyakudyaA , I hope extracted zip from my gif animation will fix the issue. I will submit the PR so you can review it.
![changelog_1236_pic0](https://user-images.githubusercontent.com/40058076/102870933-af22f480-4478-11eb-88fb-ee7198ac8a06.png)

[code]

[2020-12-22 09:14] sumandari commented on #1236
And will fix the downloaded pdf filename as well

[2020-12-22 09:16] zacharlie commented on #1243
I would like to add that the behaviour for these links also needs to change and behave in a similar way to that described in #1232 and the review on #1242

Currently, if a resource pack is available for the module an element is appended to the bottom of the content with the centere phrase ```Click <link>here</link> to download the sample data for the lesson.```

This is suitable for the web based/

[2020-12-22 09:17] NyakudyaA commented on #847
@sumandari I suggest you tackle issue 2 above because with 1 you would need to discuss it with Tim

Maybe we could have the Notes as a tooltip but we would need to let users know that if they hover over the requirements they will see a tooltip if available.

Do we need to print the notes into the PDF?
ping @zacharlie

[2020-12-22 09:29] NyakudyaA commented on #1243
Just to inherit the conversation from one PR in QGIS about using click `Here` https://www.smashingmagazine.com/2012/06/links-should-never-say-click-here/

[2020-12-22 11:03] zacharlie commented on #847
It's hard to say whether the notes value would be useful in the printed materials because that would probably depend on the content, but yes if it is intended as a tooltip describing the column values then I would recommend using the notes as a description that subtext in the printed materials. I'm attaching a screenshot outlining my intention below.

![image](https://user-images.githubusercontent

[2020-12-22 12:08] NyakudyaA opened #1245 "Review strategy for worksheets"
# Problem

The lesson app is great but we need a way to review exercises between ourselves or external content creators.

The current scenario is
* John writes an exercise sheet and saves it. Even before finishing it becomes available for everyone to see it.

# Proposed Solution

* John writes an exercise. He should save it and continue editing until he feels it needs a review from someone else. W

[2020-12-22 12:13] NyakudyaA opened #1246 "Text in PDF are not rendered properly"
On-site

![site-a](https://user-images.githubusercontent.com/2510900/102887432-9fe37d00-445f-11eb-8a5b-00f82faaa774.png)

Downloaded PDF

![down-pdf](https://user-images.githubusercontent.com/2510900/102887465-b4277a00-445f-11eb-903a-f9cfac986d4a.png)

[2020-12-22 12:23] zacharlie commented on #1246
I have been going through and manually replacing these characters in the content and using the ```'``` character on my windows system doesn't seem to have these errors. Manual fix is still a work around though so I definitely think this should be prioritised.

[2020-12-22 12:27] NyakudyaA commented on #1246
I think some of this is because the worksheets initially were written in libre office and someone had to copy-paste the content from the libre office docs to the web.

[2020-12-22 12:50] zacharlie commented on #1245
I think this seems like quite a technical challenge to implement the workflow you describe, so we should either discuss an alternative approach, and incremental implementation plan or a comprehensive workflow.

From my understanding you are proposing the following workflow:

Each worksheet has a "published" copy and a "draft" copy. When the edit button is pressed it navigates to the "draft" versio

[2020-12-22 13:04] NyakudyaA commented on #1245
No. I am just suggesting that a worksheet should not be visible to the online world without someone approving it
Example:
![example-work](https://user-images.githubusercontent.com/2510900/102891069-492d7180-4466-11eb-9bf7-9b4837374a03.png)

The above sheet is visible to anyone navigating to changelog.kartoza. If we had a flag that would just tag this as unfinished until I finish populating it. Whe

[2020-12-22 13:16] zacharlie opened #1247 "Export to .odf"
I think there may be a requirement for the export of Worksheets directly to OpenDocument Format files. These word processor documents can then be modified by trainers using office suites like LibreOffice prior to training sessions.

This would be particularly handy if we could integrate a customised odt template.

The use case I have in mind is where the site content is generic and tailored only t

[2020-12-22 13:21] zacharlie commented on #1245
So basically just an option that toggles the worksheets publicly visible state (it will always be available to editors)?

This may present UX issues when users are reviewing content and the available modules and the available worksheet numbers are ```1.1, 1.2, 1.3, 1.5, 1.9```, but to be fair only one existing worksheet should be getting edited at a time, and provides a good solution for "not yet

[2020-12-22 13:26] zacharlie opened #1248 "Allow changing worksheet order from front end"
Currently worksheet numbers seem to be statically assigned. Allowing editors to reshuffle the worksheet (and section) order from the frontend and have the worksheet numbers change dynamically will be very beneficial for maintenance and course structuring. Attempting this from the django admin is dangerous IMO and could lead to unexpected results.

[2020-12-22 13:28] NyakudyaA commented on #1245
Yes, the editing workflow and approval can come in at a later stage. This might require a big architecture change i.e models, sending emails, setting up groups and roles as you have outlined above.

This can be fixed by disabling `Order Section` for an unpublished worksheet. Adding a worksheet already makes it the last sheet by default.

[2020-12-22 13:38] NyakudyaA commented on #1248
![order-groups](https://user-images.githubusercontent.com/2510900/102894383-ad9eff80-446b-11eb-9ae4-b702b8300228.png)

Doesn't this work for you?

[2020-12-22 14:04] zacharlie commented on #1248
I had tried it before and it didn't work. Maybe it was back before the migration. I should have checked again before posting this one. Sorry for the noise.

[2020-12-22 14:04] #1248 closed, assigned to nobody

[2020-12-22 18:14] zacharlie opened #1249 "Add "lessons" route"
I think the URL path for the lessons app should be more apparent. For example, ```https://changelog.kartoza.com/en/geonode/lessons/``` looks better than ```https://changelog.kartoza.com/en/geonode/section/list/```. Even a redirect is suitable for current purposes.

[2020-12-22 18:39] NyakudyaA commented on #1247
I am not against this but and you have classified it appropriately. I think we should concentrate on getting the best for the website to generate awesome pdf. We should be able to trust that if a course is scheduled immediately a trainer should not worry about prep work.
Let's keep this here

[2020-12-23 07:52] NyakudyaA opened #1252 "Raise validationError if zipfile contains '__MACOSX' folder"
@sumandari Can you also apply the same logic from https://github.com/qgis/QGIS-Django/pull/116 for the sample data in each worksheet

[2020-12-24 11:35] #1206 closed, assigned to nobody

[2020-12-28 08:53] zacharlie opened #1257 "Fix module number error after editing lesson content"
If a lesson is edited and saved, the page does not show the module numbers in the html or pdf.

![image](https://user-images.githubusercontent.com/64078329/103202300-b4f65b00-48fa-11eb-97b4-f562c4719a54.png)

Refreshing the page does not fix it, but navigating back to the module list and returning to the same module updates these values. This should happen automatically.

[2020-12-28 08:56] zacharlie opened #1258 "Ensure that logins redirect to the correct location"
It has been reported that some users are redirected to the wrong site (e.g. from changelog.kartoza.com to changelog.qgis.org) after logging in with some Auth providers (e.g. GitHub). Users should always be redirected to the correct landing page after logging in.

[2020-12-29 07:09] sumandari commented on #1258
Hi @zacharlie, I have experienced it too. When I log into changelog.qgis.org with GitHub account it will redirect to correct site. But if I was at changelog.kartoza.com it will redirect to changelog.qgis.org after logged in.

@timlinux could you please advise if the GitHub Authorization callback URL will redirect user to changelog.kartoza.com instead of changelog.qgis.org? Thank you.

[2020-12-29 07:55] timlinux commented on #1258
Hi.I mentioned this to you too .it should not take you to a different site.

[2020-12-29 09:18] sumandari commented on #1258
Well noted. @timlinux could you please confirm if `Secret key` in table socialaccount_socialapp was generated for redirecting to changelog.kartoza.com?

[2020-12-30 02:23] sumandari commented on #1235
Hi @zacharlie, just to confirm my understanding, do you mean to replace the text description and hyperlink field with a rich text editor (one field only)? Or only replace the text description field to a rich text editor?

I gave a try to use tinymce for text description editor. I was not sure if it should support html or markdown or both.
![changelog_further_lesson_editor](https://user-images.gith

[2020-12-30 03:29] sumandari commented on #1238
Hi @zacharlie, could you explain about the field for content license information. Is it going to be a static field with license information (static html element) or it requires a new field in the model, so that the author can edit the license information?

[2020-12-30 08:39] zacharlie commented on #1235
I would personally be happy with a single rich text field (preferably supporting both html and markdown, or promote markdown to html once posted), which would give us full control of the rendering for the web and print versions. I'm not entirely sure what implications that has for exposing the values via the models or API though so I think we would need input from @timlinux and @NyakudyaA to ident

[2020-12-30 08:40] zacharlie commented on #1238
The author should be able to edit it as course content and media could have different license implications. This is usually suitable as a simple text field and can be packaged with resources as a license.txt file

[2021-01-06 03:46] sumandari commented on #1240
@zacharlie I added a css class for page break element in #1265. But I have no idea, how to add an user interface to define the image/content size. Should it be a new input field (model field) to set  all image size, or maybe in another way. Could you please give a suggestion?

[2021-01-06 06:35] zacharlie commented on #1240
I think we should add a definition to each image. For example, on the edit page, under the "browse button" for "Summary image", we could add a **Dimensions (optional): Width [] Height []**. The CSS can then be applied based on an element id (summary-img/exercise-img etc) and will only use these values if they are specified. Perhaps a "clear dimensions" button would help as well.

[2021-01-07 00:42] sumandari commented on #1238
@zacharlie the fix has been deployed. Can we close this issue now? Or is there anything should be improved?

[2021-01-07 00:45] sumandari commented on #1246
@NyakudyaA the fix has been deployed. Please check out the example case:
https://changelog.kartoza.com/en/geonode/section/geonode-28/print/111/?q=1.2.1
Can we close the issue now?

[2021-01-07 00:58] sumandari commented on #1237
@zacharlie the fix has been deployed. Please kindly check out the public example: https://changelog.kartoza.com/en/geonode/section/geonode-28/answers/28/

[2021-01-07 01:06] sumandari commented on #1239
@zacharlie the fix has been deploy. Can we close the issue or is there another thing should be improved?

[2021-01-07 01:12] sumandari commented on #1232
Hi @zacharlie the fix #1242 has been deploy. Please kindly try it.

[2021-01-07 01:30] sumandari commented on #1236
@zacharlie @NyakudyaA the fix #1244 has been deployed.

[2021-01-07 01:31] sumandari commented on #1233
Hi @zacharlie, the fix #1253 has been deployed.

[2021-01-07 07:38] #1246 closed, assigned to sumandari

[2021-01-07 07:43] zacharlie opened #1267 "Add print functionality to answer sheets"
Could we add a button to the top of the page to allow users to download the answer sheet as a pdf

Related to #1237

[2021-01-07 07:49] zacharlie opened #1268 "Improve answer sheet styling"
Can me make some minor adjustments to improve the styles

- [x] Center the Heading Text (Section Title)
- [x] Change "Answers to section modules." to a subtitle style (Italic, reduced font size)
- [ ] Reduce the Module Heading element padding - it's currently jumbotron

Related to #1237

[2021-01-07 07:49] #1237 closed, assigned to sumandari

[2021-01-07 07:53] #1239 closed, assigned to sumandari

[2021-01-07 07:53] #1232 closed, assigned to sumandari

[2021-01-07 07:55] zacharlie commented on #1267
If possible, adding a "back" button to return to the lessons section would also be useful.

[2021-01-07 16:45] zacharlie commented on #1233
I can't seem to find how this value is modified.

[2021-01-07 16:46] zacharlie commented on #1238
Looks like this field is an empty drop down menu in the new deployment. How can we define license that can we apply to content?

[2021-01-08 00:12] sumandari commented on #1238
Author should create license from the admin site. Do we need to create the license from the web view?

[2021-01-08 00:19] sumandari commented on #1233
This element cannot be modified by author yet. Would you please explain should it be an input field so that the author can fill it in or it's a dropdown shows list of funder from the database?

[2021-01-08 06:38] zacharlie commented on #1238
I see. I have a few concerns, but I haven't got a better solution/ approach at the moment so this should be ok for now and I will have to think more on what changes we might implement.

[2021-01-08 06:38] #1238 closed, assigned to nobody

[2021-01-08 06:40] zacharlie commented on #1233
I think an input field embedded directly on the edit page for each module is probably the best approach...

[2021-01-11 10:45] timlinux commented on #1235
Happy to make this change, but @sumandari you will need to figure out a migration strategy for the old data.

[2021-01-12 08:13] sumandari commented on #1257
Hi @zacharlie, the fix #1275 has been deployed on staging server.

[2021-01-12 08:14] sumandari commented on #1249
@zacharlie the fix #1256 has been deployed on staging server.

[2021-01-12 08:44] sumandari commented on #1240
The fixes #1265 and #1273 has been deployed on staging server.

[2021-01-12 08:44] sumandari commented on #1233
The fix #1272 has been deployed on staging server.

[2021-01-12 08:45] sumandari commented on #1258
The fix #1269 has been deployed on staging server

[2021-01-12 08:46] sumandari commented on #1234
The fix #1254 has been deployed on staging server.

[2021-01-12 08:47] sumandari commented on #1243
The fix #1255 has been deployed on staging server.

[2021-01-12 11:32] #1257 closed, assigned to sumandari

[2021-01-12 11:32] #1233 closed, assigned to sumandari

[2021-01-12 11:33] #1234 closed, assigned to NyakudyaA, sumandari

[2021-01-13 13:26] timlinux opened #1278 "Suppport svg and webp formats for sustaining member logos"

[2021-01-14 08:46] sumandari commented on #1245
@NyakudyaA @zacharlie is it important to keep the same numbering on admin/project owner and normal user. Please have a look at the image. Left side is admin/project owner view, right side is normal user/anonym view.

![image](https://user-images.githubusercontent.com/40058076/104565615-7943eb00-5687-11eb-9e79-1d3d58eba9e5.png)

[2021-01-14 08:51] zacharlie commented on #1245
The process you have outlined in the screenshot above is perfect IMO 👍 🥇

[2021-01-14 08:54] sumandari commented on #1245
So can you confirm that the different numbering on admin view and normal user view is fine? @zacharlie

[2021-01-14 10:24] zacharlie commented on #1245
I'm happy with it. Maybe get confirmation from @NyakudyaA or @timlinux before implementing

[2021-01-14 10:29] NyakudyaA commented on #1245
@sumandari That looks great. Just a quick question. What happens if the draft worksheet is now approved. Does the numbering change in the normal view?

[2021-01-14 11:11] sumandari commented on #1245
yes @NyakudyaA. The numbering will change in the normal view. The numbering is set on the frontend, it comes from looping index of the worksheet object.

![image](https://user-images.githubusercontent.com/40058076/104583313-f4170100-569b-11eb-81cc-a06dc7cb3686.png)

[2021-01-18 07:17] zacharlie opened #1282 "Incorrect path for automatically harvested changelog media"
When the "Import PR from GitHub" tool is used to collect data from GitHub, the tool automatically collects some media items and attempts to attach the media as a file, but this results in the incorrect path being generated. As an example, the file `https://changelog.qgis.org/media/media/images/entries/95669631-e0b24200-0b50-11eb-9efe-2c227def9190.gif` does not resolve correctly due to the duplicat

[2021-01-18 08:27] zacharlie opened #1283 "Add "exclude" tags to changelog GitHub PR harvest"
Currently, when PRs are harvested from GitHub, the entries are filtered by label (tag) and state (open/ closed). For changelog entries, this results in a lot of "closed" changelog entries that were not merged being included in the harvest, as "closed" is a state assigned to both closed AND merged PRs. At this point, these extraneous entries must be removed from the changelog entries manually.

If

[2021-01-19 02:02] sumandari opened #1286 "@sumandari LGTM, please add tests in another PR"
@sumandari LGTM, please add tests in another PR

_Originally posted by @dimasciput in https://github.com/kartoza/prj.app/pull/1285#issuecomment-762549800_

[2021-01-20 11:07] gis-support opened #1288 "[Certification] Issue with second certificate to the same e-mail address"
Hello,

We experience an issue when creating a second QGIS certificate for the same person.

Scenario:
1. Issue a certificate for person X for the "QGIS basics".
2. Try to issue a certificate for person X with the same e-mail address, but for "QGIS advanced".

Screenshot:
![certificate_isssue](https://user-images.githubusercontent.com/10209250/105166658-f522b500-5b17-11eb-9519-50e87b504e48.png)

W

[2021-01-21 13:52] sumandari opened #1290 "created a template tag for these lines of code"
@sumandari it would be better if you created a template tag for these lines of code, as they repeat often. But I guess it's fine for now.

_Originally posted by @dimasciput in https://github.com/kartoza/prj.app/pull/1287#discussion_r560118225_

[2021-01-21 13:52] #1286 closed, assigned to sumandari

[2021-01-21 19:27] zacharlie commented on #1240
I notice the page break element is only usable within content elements. Whilst this is somewhat useful for pushing lists etc onto the new page, it is very limited in function.

It is presenting a problem as I cannot place a break before the start of an element (the header will be on one page, but the content will be forced onto the next), or at the end (the image/ media that follows will be pushed

[2021-01-21 19:32] zacharlie opened #1291 "Neater links to external data in the pdfs"
Currently, the pdf links to external data/ exercise data don' render very nicely due to the archive name being a hash value and the link being very long. Can we try neaten this up? Thing I can think of to help would be to put the link on a new line, maybe wrap it in a span element, reduce the font size and possibly name the archive something shorter, e.g. `qgis1.1.zip`, where qgis is project name/

[2021-01-22 01:24] sumandari commented on #1240
@zacharlie could you please give a screen capture/ illustration image of the example case you mentioned above. Thank you :sunflower:

[2021-01-22 10:06] sumandari commented on #1291
@zacharlie  do you mean we need create a new (shorten) url that redirect to this link ?

[2021-01-25 08:27] sumandari commented on #1240
![image](https://user-images.githubusercontent.com/40058076/105679783-e2e6b380-5f29-11eb-980b-2385224bf773.png)

Do you mean, we need to enable the page break between the image and `Check your knowledge`, also between exercise question and `Further reading`?

[2021-01-25 10:41] zacharlie commented on #1240
Yes precisely, apologies for delay

[2021-02-04 08:21] NyakudyaA opened #1292 "Allow option to highlight correct answers for webview exercise"
# Problem

When I am doing the lessons I cannot determine which is the correct answer to a question.
![answer](https://user-images.githubusercontent.com/2510900/106864448-8c6c3880-66d2-11eb-9a22-4029483a89a5.png)

# Solution

Highlight the correct answer when a user hovers or clicks on the answer. Alternatively, you can add the option for the user to submit the answers and then show the correct an

[2021-02-04 13:40] christopherbuirski commented on #1292
![Solution ](https://user-images.githubusercontent.com/78072657/106900273-00bcd100-66ff-11eb-9fad-78d39519f8b1.jpg)

[2021-02-05 08:01] christopherbuirski opened #1293 "Module 1.4 lesson. "Create Layer" option in "Data Menu" on geonode training not visible"
In the lesson it had these instructions:
<img width="648" alt="Screenshot 2021-02-05 at 9 25 29 AM" src="https://user-images.githubusercontent.com/78072657/107005494-745eec80-6798-11eb-898c-68c913eb3cf2.png">

On geonode it doesn't have the option to create a layer
<img width="480" alt="Screenshot 2021-02-04 at 4 57 42 PM" src="https://user-images.githubusercontent.com/78072657/107005508-7b85fa80-

[2021-02-05 08:04] NyakudyaA commented on #1293
@christopherbuirski This just needs to be activated only.  Have notified @lucernae

[2021-02-05 08:04] #1293 closed, assigned to nobody

[2021-02-09 10:36] sumandari commented on #1258
The fix #1262 has been deployed.

[2021-02-09 10:36] #1258 closed, assigned to sumandari

[2021-02-10 10:06] sumandari commented on #1288
Hi @gis-support,

Please apologies for long delay.

For issuing certificate for the same person, would you please try these following steps:

#### 1. Click on **Add Course Attendee** button

![image](https://user-images.githubusercontent.com/40058076/107493161-47f80580-6bc8-11eb-972c-b77260dc7518.png)

#### 2. Select the attendee from select input, and click on submit button

![image](https://user

[2021-02-11 10:08] NyakudyaA opened #1295 "Unable to move lessons from one section to another"
# Problem

I am trying to move some lessons from

* 1. Introduction to QGIS  to another section

i.e
15. Services and system administration

Currently, there is no way to achieve this.

Can we add an option that allows admins to change worksheet sections

[2021-02-11 12:38] NyakudyaA opened #1296 "Stab in the dark to get other sections"
# Problem

When writing lessons, it looks like a stab in the dark to find other sections i.e `Further Reading`, `New Requirements`

![stab-in](https://user-images.githubusercontent.com/2510900/107637225-746a5b00-6c76-11eb-8df4-8915948e35ce.png)

How can we make these sections become more prominent so that they are visual. I know if you hover over somewhere they show up.

But if we have other users

[2021-02-13 07:41] NyakudyaA opened #1297 "Data that was uploaded before the unicode fix still downloads with unicode errors"
# Solution

Download all data for all exercises and clean it up, then upload again to the site. All lessons

**NB** We can assign this to the interns

[2021-02-15 13:05] NyakudyaA opened #1299 "Standardize training datasets"
# Problem

We need to standardize all the data to a common format i.e geopackage. Currently we running sqlite,spatialite and geopackage

[2021-02-15 13:17] zacharlie commented on #1299
I recommend using GPKG for exercises. It has it's issues but it is effectively the "standard" for data transfer and there are discussions surrounding the optimisation of gpkg in QGIS. I feel it's good for learners to get familiar with the format. In some instances embedding raster, table and project data is also beneficial but I think the way this is structured will vary from lesson to lesson. Whe

[2021-02-15 18:13] NyakudyaA commented on #1299
I second this @zacharlie, I will start migrating the sample data into geopackage and keep the other formats for exercise that requires them

[2021-02-18 10:21] timlinux opened #1303 "Add project management tool to enable / disable functions"
Some projects don't have teams, lessons etc.

![image](https://user-images.githubusercontent.com/178003/108342208-71212300-71d2-11eb-9a49-a5c243c79810.png)

Can you make in the project management page e.g. at https://changelog.qgis.org/en/project/qfield/update/

I would imagine a section on the project editing page with checkboxes like this:

- [ ] Enable Lessons
- [ ] Enable Sustaining Members
-

[2021-02-18 13:42] rduivenvoorde opened #1304 "Generated rst image issue 1"
Downloading the rst for 3.18:

there are 9 images which do not have a source. At the bottom of the rst they look like "image5" here below:

.. |image4| image:: images/entries/5adbd9ce0bfeb73ec308ed003603aacceab728d4.png
   :class: img-responsive img-rounded
.. |image5| image::·
.. |image6| image:: images/entries/24c8af6d1314e7a22f8f70a7628f3aeae9b3ce1a-1.png

Not sure what the reason is they are e

[2021-02-18 13:43] rduivenvoorde opened #1305 "Generated rst image issue 2"
Some (not all) images have a path like:
"/mediaimages/entries/14df1b85a3e3ada3024a39499a245bbdd7e2ca64-1.png"

giving the build error:

/QGIS-Website/source/site/forusers/visualchangelog318/index.rst:808:image file not readable: mediaimages/entries/14df1b85a3e3ada3024a39499a245bbdd7e2ca64-1.png

I can easily fix it by just replacing "/mediaimages" with "images' because apparently the images ARE th

[2021-02-18 15:34] timlinux commented on #1304
Thanks @rduivenvoorde @sumandari will you take a look please? The incoming issues from @rduivenvoorde are time critcal as we need to get the release announcements out on time.

[2021-02-18 15:34] timlinux commented on #1305
Thanks @rduivenvoorde @sumandari will you take a look please? The incoming issues from @rduivenvoorde are time critcal as we need to get the release announcements out on time.

[2021-02-19 01:54] sumandari commented on #1305
@rduivenvoorde @timlinux

I think the image came from fetching github which had issue in https://github.com/kartoza/prj.app/issues/1282.
It generated an incorrect path
[code]

This issue has been fixed by https://github.com/kartoza/prj.app/pull/1284 and deployed yesterday.

![image](https://user-images.githubusercontent.com/40058076/108445186-e48c6880-7296-11eb-8d53-7b5132f12000.png)

This incorre

[2021-02-19 01:57] sumandari commented on #1305
I will try to fix the url value in the database with custom management command.

[2021-02-19 13:02] sumandari commented on #1305
@rduivenvoorde @timlinux

The fix has been deployed.
The image in our sample case `images/entries/14df1b85a3e3ada3024a39499a245bbdd7e2ca64-1.png` is displayed on the page now.

/cc @dimasciput

![image](https://user-images.githubusercontent.com/40058076/108507687-a4a89e00-72f5-11eb-80c4-1a88757e59a8.png)

[2021-02-19 13:16] rduivenvoorde commented on #1304
@sumandari am I right that this is not yet fixed? Because this issue is mentioned in #1306 I thought it was, but  I just downloaded the rest zip and still found 'empty' image uries:

[code]

This issue is actually more severe then #1305, because I have no other way then remove these images I think...?

[2021-02-19 13:48] sumandari commented on #1304
@rduivenvoorde
 oh, I see it now. I will look into it. I am sorry for mentioned it in #1306. I thought it was same.

[2021-02-19 15:21] sumandari commented on #1304
@rduivenvoorde

The fix deployed. Would you please try it. Thank you.

/cc @dimasciput @timlinux

![image](https://user-images.githubusercontent.com/40058076/108523683-2ce46e80-7309-11eb-9e3e-3d15d0e83cc7.png)

[2021-02-21 08:09] rduivenvoorde opened #1309 "Author links point to api github page"
Just found out, both on changelog.qgis.org, as in qgis site, the author links in the website point to github api json output, eg:

https://api.github.com/users/rduivenvoorde

Is that deliberate? Or should we let it point to the repo url, or the list of qgis commits?

[2021-02-22 06:12] sumandari commented on #1309
@rduivenvoorde do we need to replace the existing value in website to the expected one?

[2021-02-22 08:15] rduivenvoorde commented on #1309
@sumandari I'll wait and see if others do fixes. Then my planning is to redo the download and then also push the texts to transifex. So: if the links are fixed in the rst download that is sufficient. Thanks!

[2021-02-23 09:13] spatialthoughts opened #1313 "Certificate preview generation fails"
When trying to preview a certificate for a course, I get an error "Error:Failed to load PDF document."

URL for the error
https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/preview-certificate/

[2021-02-23 12:23] rduivenvoorde opened #1315 "Download rst zip currently fails"
Trying to download the rst zip fails currently, both in browser on via cli:

[code]

[2021-02-23 16:51] rduivenvoorde commented on #1315
@sumandari @timlinux is there something in the logs? Looks like it starts and then stops, as the html download is doing fine...
I know Andreas added the large table with all the 'notable commits'....  maybe that breaks the rst generation?

[2021-02-23 17:02] rduivenvoorde commented on #1309
@sumandari maybe I misunderstood, will the links change, OR will they stay as they currently are (to api.github.com)...?

[2021-02-24 03:02] sumandari commented on #1315
@rduivenvoorde it's low disk space issue and has been fixed temporary. The download should work fine now. I will ask @timlinux to add the storage space.

/cc @dimasciput

[2021-02-24 03:59] sumandari commented on #1309
@rduivenvoorde #1310 will point url to developer github repo.
I was asking if we need management command to replace the existing value (api.github.com) to http://github.com/....

[2021-02-24 09:14] sumandari opened #1317 "Fix GitHub Import"
Can you also fix the GitHub importer so that when the images are initially imported they are correct?

_Originally posted by @timlinux in https://github.com/kartoza/prj.app/issues/1306#issuecomment-782080750_

[2021-02-24 10:22] sumandari opened #1319 "Create a little tool to remove all media etc that are not referenced anymore by a valid project"
Remove the unused media to free up space.

[2021-02-24 11:01] sumandari commented on #1313
Hi @spatialthoughts.

The link you mentioned will return this following image instead of "Error:Failed to load PDF document.".
Could you please confirm if the error of this issue is still same?

![image](https://user-images.githubusercontent.com/40058076/108990891-63880380-76d2-11eb-86ef-eb7b43ac16fd.png)

[2021-02-25 20:07] rduivenvoorde commented on #1315
@sumandari thanks! Fixed and used to create new index.rst for website

[2021-02-25 20:07] #1315 closed, assigned to nobody

[2021-02-25 20:08] rduivenvoorde commented on #1304
@sumandari thanks! Works (see qgis website :-) )

[2021-02-25 20:08] rduivenvoorde commented on #1305
@sumandari This is also working/fixed now. Thanks!

[2021-02-26 07:04] spatialthoughts commented on #1313
Thanks. Seems to work fine now. Closing the issue.

[2021-02-26 07:04] #1313 closed, assigned to nobody

[2021-03-15 04:51] sumandari commented on #1319
test #1320 on staging:
[code]

[2021-03-15 04:52] sumandari commented on #1319
cc @dimasciput

[2021-03-18 07:48] NyakudyaA opened #1321 "Unable to upload images, data for exercises on changelog.kartoza"
# Problem

* Navigate to https://changelog.kartoza.com/en/geonode/lesson/geonode-28/detail/191/?q=1.25
* On the exercise image try to add an image exercise and then save.
* You will encounter an error
![error-change](https://user-images.githubusercontent.com/2510900/111590584-f34f3800-87ce-11eb-916c-bad2e243afda.png)

This also happens randomly when adding text, data

[2021-03-22 00:30] #1319 closed, assigned to sumandari

[2021-03-22 04:12] sumandari commented on #1321
@NyakudyaA this error 500 doesn't occur anymore on https://changelog.kartoza.com/en/geonode/lesson/geonode-28/detail/191/?q=1.25. I'm not sure why, will check the sentry error log once got the access.

[2021-04-01 12:31] NyakudyaA opened #1326 "worksheet links can become stale or unavailable and should be manually fixed"
# Problem

All lessons have further reading sections where we put links. When the links become unavailable the reading section becomes stale.

# Solution

I suggest a little tool or script that basically generates all invalid links in a PDF/text file like

[code]
Or just saying
[code]

This tool can be run per need and should ideally be visible to the lessons manager.

Use case:
Before each traini

[2021-04-06 07:34] NyakudyaA opened #1328 "Simplify sample data export formats"
# Problem

Currently, if a user downloads sample data from a worksheet i.e
![sample-data-work](https://user-images.githubusercontent.com/2510900/113674037-019bc000-96ba-11eb-9b28-53cd6dcd11fd.png)

And then unzip the file produces a file structure that is two folders deep.
ie.

It seems like after uploading the sample data as a zip file, it is further zipped again.

# Solution

If we need to stand

[2021-04-06 07:37] NyakudyaA commented on #1321
This doesn't happen anymore. Will open again if need arises

[2021-04-06 07:37] #1321 closed, assigned to sumandari

[2021-04-06 07:40] NyakudyaA opened #1329 "Fix the name encoding for sample data in lessons"
# Problem

Currently, all sample data is being downloaded with some encoding issues

i.e
![adding-vector-data](https://user-images.githubusercontent.com/2510900/113675753-fa75b180-96bb-11eb-9dbf-22af0c2f8c34.png)

This has been fixed for the content in the sheets but we need to fix the names as well

[2021-04-13 09:23] zacharlie opened #1331 "Elegant aspect ratios for youtube embeds"
Youtube video embeds have different aspect ratios and the lessons video frame is square, resulting in a lot of negative space surrounding the video.

![image](https://user-images.githubusercontent.com/64078329/114528851-aa619680-9c49-11eb-8843-af9c51a0d7dc.png)

A couple of resources describing the issue and possible fixes include:

* https://stackoverflow.com/questions/13880745/embedding-youtube-

[2021-04-26 16:33] Gustry commented on #1317
Duplicate of https://github.com/kartoza/prj.app/issues/1230 ?

[2021-04-27 01:30] sumandari commented on #1317
@Gustry this is to avoid/fix issue #1304 and #1305.
And yes, #1305 is duplicate of #1230. Thank you for pointing it out.

[2021-04-27 02:25] Gustry commented on #1230
Another ticket #1282

[2021-04-27 02:25] #1230 closed, assigned to nobody

[2021-04-28 13:53] NyakudyaA opened #1334 "PDF outputs should not include none in final output"
# Problem

Whenever an expectation box contains null values or actually data is is always printed with the text `None`. We should avoid this situation as it is confusing for the people.

![Screenshot 2021-04-28 at 15 50 49](https://user-images.githubusercontent.com/2510900/116415532-cd8b6900-a839-11eb-9569-3a44c4fad8a1.png)

In this case above None should never have been printed in the sheets

[2021-04-30 06:37] #1329 closed, assigned to sumandari

[2021-05-03 08:45] timlinux opened #1337 "Add Download PDF and Data all in one button in worksheet"
On the lessons list we have this button to download the lesson pdf and data in one zip

![image](https://user-images.githubusercontent.com/178003/116856986-f32ac080-abf3-11eb-9199-ae922c681959.png)

Can we have the same button shown at the top of the worksheet too:

![image](https://user-images.githubusercontent.com/178003/116857075-19e8f700-abf4-11eb-9412-93e353f222e2.png)

Also when the workshee

[2021-05-03 08:57] NyakudyaA commented on #1326
The tool doesn't seem to be working on the deployed instance @sumandari
![invalid-link](https://user-images.githubusercontent.com/2510900/116858246-5f122680-abfe-11eb-9a70-357ef157762d.png)

[2021-05-03 09:14] zacharlie commented on #1236
I just noticed that the worksheet data download doesn't seem to include the file extension on firefox, but it does with chrome. I don't know if the chrome browser is inferring mimetype automatically, but we should explicitly add the file extension or specify the filetype so that things remain consistent across platforms.

I used the data from https://changelog.qgis.org/en/qgis/lesson/introduction-

[2021-05-04 10:04] nickbearman commented on #1140
+1
Also having this issue with certificates that I have sent out. The participants claimed not to have recieved any emails (even in SPAM).

[2021-05-04 14:00] timlinux commented on #1140
@sumandari can you look into this please?

[2021-05-05 09:28] nickbearman commented on #1140
Just FYI, I have had one more person confirm they haven't recieved the certificate email, and it is not in their spam.

[2021-05-10 05:03] sumandari commented on #1140
@nickbearman thank you for your report. Could you please inform the detail, which course the attendees haven't received the certificate email?
I have looked into the log error and haven't found any issue related email recently. Your detail information will help to identify the issue.

[2021-05-10 09:06] sumandari commented on #1326
Hi @NyakudyaA,
When I run it on my local machine, the function will take about 10minutes to return the value.
I have discussed it with @lucernae, it seems the time for waiting the return is not feasible to make it as an html endpoint.
We might create a job to call this function.
cc @dimasciput

[2021-05-10 09:32] sumandari commented on #1236
Hi @zacharlie, herewith the result when I download zipfile both from chrome Version 90.0.4430.93 (Official Build) (64-bit) and modzilla  88.0 (64-bit):
- `'1.5. Introduction to QGIS-Navigating map data(1).zip'` modzilla
- `'1.5. Introduction to QGIS-Navigating map data.zip'`

[code]

[2021-05-10 09:50] sumandari commented on #1236
@zacharlie Could you please confirm if the zipfile download from firefox developer edition (89.0b7) is still giving zipfile without .zip extension?
It gave the same result when I downloaded file with opera.

I'm going to update my Firefox to 89.0b7

[2021-05-11 10:52] nickbearman commented on #1140
Sure @sumandari
It is the Introduction to QGIS: Spatial Data and Spatial Analysis | April 20, 2021 under Geospatial Training Solutions.
https://changelog.qgis.org/en/qgis/certifyingorganisation/geospatial-training-solutions/course/qgis_introduction-qgis-spatial-data-spatial-analysis_2021-04-20-2021-04-28/

Participants impacted: (all UK time)
Juan Manuel Moreno, sent certificate through online sys

[2021-05-17 01:57] sumandari commented on #1328
@NyakudyaA is this duplicate with #1337 ?

[2021-05-17 04:25] sumandari opened #1342 "Create cron job for running invalid further link tool"
Create cron job to run tool #1326

![invalid-link](https://user-images.githubusercontent.com/2510900/116858246-5f122680-abfe-11eb-9a70-357ef157762d.png)

_Originally posted by @NyakudyaA in https://github.com/kartoza/prj.app/issues/1326#issuecomment-831123735_

[2021-05-17 04:59] NyakudyaA commented on #1328
Yes @sumandari in fact Tim's ticket is the duplicate as I wrote this earlier than him but we can close this 🙂🙂🙂

[2021-05-17 04:59] #1328 closed, assigned to sumandari

[2021-05-17 05:03] sumandari commented on #1328
@NyakudyaA I submitted #1341
It's unzipping file when author uploaded sample data with zip in zip.
Please confirm if it's not necessary, I will close it then.

[2021-05-17 06:03] NyakudyaA commented on #1328
I will look at the PR and comment

[2021-05-18 01:20] sumandari commented on #1342
We will not implement cron job for the validating the further link url

[2021-05-18 01:20] #1342 closed, assigned to sumandari

[2021-05-24 00:15] sumandari commented on #1331
I was following the steps on https://www.ankursheel.com/blog/full-width-you-tube-video-embed, modifying the CSS, but it didn't work as expected.
On #1343 instead of changes the YouTube ratio, it changes the iframe ratio. I'm not sure if it's required.

[2021-05-24 01:22] sumandari opened #1345 "Anchor tag in Further reading editor"
When added the anchor tag, the tinyMCE does save it as plain text.

![image](https://user-images.githubusercontent.com/40058076/119284096-78444b00-bc71-11eb-8b0a-0ceb17585c05.png)

![image](https://user-images.githubusercontent.com/40058076/119284107-809c8600-bc71-11eb-894b-394957b4aa41.png)

[2021-05-31 07:32] spatialthoughts commented on #1140
I would like to report another instance of a participant not receiving the certificate email.

Participant: Ellie Joo
Course: Advanced QGIS https://changelog.qgis.org/en/qgis/certifyingorganisation/spatial-thoughts/course/qgis_advanced-qgis-online_2021-05-29-2021-05-30/
sent certificate 30th May, 2021 and not received email including in spam folder.

Other participants from the same batch received

[2021-05-31 09:06] sumandari commented on #1140
@nickbearman, @spatialthoughts  thank you for the detail and update.

We apologize for the inconvenience. We're still working to resolve the issue.

[2021-06-01 07:10] spatialthoughts commented on #1140
Thanks.

Closing the loop on this one, the participant was able to find the certificate email by searching with the exact subject line in the Spam folder 'Certificate from Advanced QGIS (Online) Course'. So the issue wasn't about email delivery, but the email going to Spam.

[2021-06-01 08:30] nickbearman commented on #1140
Thanks, I have asked both my students to check again for
"Certificate from Introduction to QGIS: Spatial Data and Spatial Analysis Course"
and will let you know what they say.

[2021-06-04 00:27] #1345 closed, assigned to sumandari

[2021-06-04 09:09] sumandari commented on #1303
The fixed has been deployed. I will close this now.

[2021-06-04 09:09] #1303 closed, assigned to sumandari

[2021-06-04 09:11] sumandari commented on #1296
The fix has been deployed. I will close this now.

[2021-06-04 09:11] #1296 closed, assigned to sumandari

[2021-06-04 09:12] sumandari commented on #1295
The fix has been deployed. I will close this now.

[2021-06-04 09:12] #1295 closed, assigned to sumandari

[2021-06-07 20:43] rduivenvoorde opened #1348 "Build fails because of: Duplicate substitution definition name: "image"."
Testing rst export for QGIS 3.20.

[code]

While easy fixable in the rest source (it's just rename a couple of lines/names), I thought to let you know that apparently the 'automatic naming' is failing (note the 3x 'image' name), not sure why:

[code]

After manually fixing those, the rest export builds fine! Thanks!

[2021-06-08 04:34] sumandari commented on #1348
Thank you for the report @rduivenvoorde
This issue has been address in #1318

I apologise for the inconvenience and the delay, we will deploy soon after the review done.

[2021-06-08 06:04] rduivenvoorde commented on #1348
Thanks, for the quick fix! Plz ping me when deployed, then I will test.

As said it is a small issue, even without deploying I'm happy to use current version or release of 3.20.

[2021-06-11 01:47] sumandari commented on #1348
@rduivenvoorde the fix has been deployed on changelog.qgis.org and changelog.kartoza.com - version 2.1.6.

[2021-06-11 01:54] sumandari commented on #1326
the fix has been deployed in version 2.1.6

[2021-06-23 03:38] sumandari opened #1352 "Address stripe error"
Please see: http://sentry.kartoza.com/sentry/projecta/issues/2898/

[2021-06-23 23:45] sumandari commented on #1352
test comment

[2021-06-25 05:38] sumandari commented on #1352
I have tested on local using test key `pk_test_` and `sk_test_` and it works well with `STRIPE_LIVE_MODE` = False

The issue was probably caused by Stripe's error connection:
[code]

[2021-06-25 05:39] sumandari commented on #1245
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:39] #1245 closed, assigned to nobody

[2021-06-25 05:40] sumandari commented on #1235
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:40] #1235 closed, assigned to sumandari

[2021-06-25 05:40] sumandari commented on #1249
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:40] #1249 closed, assigned to nobody

[2021-06-25 05:40] sumandari commented on #1337
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:40] #1337 closed, assigned to sumandari

[2021-06-25 05:41] sumandari commented on #1241
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:41] #1241 closed, assigned to sumandari

[2021-06-25 05:44] sumandari commented on #1243
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:44] #1243 closed, assigned to sumandari

[2021-06-25 05:44] sumandari commented on #1267
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:44] #1267 closed, assigned to sumandari

[2021-06-25 05:45] sumandari commented on #847
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:45] #847 closed

[2021-06-25 05:45] sumandari commented on #1292
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:45] #1292 closed, assigned to sumandari

[2021-06-25 05:46] sumandari commented on #1326
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:46] #1326 closed, assigned to sumandari

[2021-06-25 05:46] sumandari commented on #1317
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:46] #1317 closed, assigned to sumandari

[2021-06-25 05:47] sumandari commented on #1004
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:47] #1004 closed

[2021-06-25 05:47] sumandari commented on #1334
The fixed has been deployed, I will close this ticket now

[2021-06-25 05:47] #1334 closed, assigned to sumandari

[2021-07-02 05:13] sumandari opened #1353 "Address the low disk space issue"
please see: http://sentry.kartoza.com/sentry/projecta/issues/2904/

[2021-07-02 05:23] sumandari commented on #1353
There is a tool to remove unused image : https://github.com/kartoza/prj.app/pull/1320

I checked on server, and found out there are folder images outside container that contains the same folders with the one in the container:

inside volume
[code]
outside container
[code]

We need to check whether those files are being used or not, so that we can free space up to 2.4G

[2021-07-05 06:38] sumandari commented on #1353
cc @dimasciput

[2021-07-07 01:05] sumandari opened #1354 "Add cookie disclaimer"
We need to create a cookie disclaimer related to https://github.com/qgis/QGIS-Website/pull/910

[2021-07-09 04:51] sumandari commented on #1353
removed the media and images folder
[code]

before:
[code]

after:
[code]

[2021-07-09 06:24] #1353 closed, assigned to sumandari

[2021-07-19 09:46] geomenke opened #1357 "[Certification] Error creating a new course"
I have been trying to create a new course under Septima's certification page and I get this error 500:

Ooops. Something broke....

In the meantime, please form an orderly queue and head to the home page.

I created a course here successfully this spring so I am not sure what is causing this.

[2021-07-21 03:40] sumandari commented on #1357
Thank you for your report @geomenke. I will look into this.

[2021-07-23 01:15] sumandari commented on #1357
Hi @geomenke,

My apologies for the delay. From the log error, the course name you tried to create will create a slug `introduction-gis-with-qgis` that has already been used by another organization.
The fastest way to recreate is, rename your course so that it will give another slug, then edit and change the course name as it should be.

Now I am working on the fix. I will inform you once the fix

[2021-07-23 09:14] geomenke commented on #1357
I would think this would have come up a lot with course names like `Introduction to QGIS`.  Thanks for addressing it.

[2021-07-30 08:57] sumandari commented on #1357
Hi @geomenke the fix has been deployed in version 2.2.0

[2021-07-30 08:59] geomenke commented on #1357
@sumandari thanks. It is working well for me.

[2021-07-30 09:04] sumandari commented on #1357
Great!
Thank you @geomenke. I will close the ticket for now.

[2021-07-30 09:04] #1357 closed, assigned to sumandari

[2021-08-08 09:01] dimasciput commented on #1354
has been deployed

[2021-08-08 09:01] #1354 closed, assigned to sumandari

[2021-08-08 09:01] dimasciput commented on #1352
Ok thanks @sumandari, will close this for now.

[2021-08-08 09:01] #1352 closed, assigned to sumandari

[2021-08-13 10:55] zacharlie opened #1363 "Github Authentication fails"
GitHub Login is failing, likely due to changes to the API that have now been implemented:

https://github.blog/changelog/2021-08-12-git-password-authentication-is-shutting-down/

[2021-08-16 09:30] zacharlie commented on #1363
GitHub Auth seems to be functional again without deploying any changes to the code base. It may have been that service interruptions related to the service deprecation affected session tokens or similar artifacts without directly affecting the authentication mechanism. In any event, the issue is resolved but the current authentication mechanisms should be reviewed to ensure they align with best pr

[2021-08-16 09:30] #1363 closed, assigned to dimasciput, sumandari

[2021-08-16 09:31] zacharlie opened #1364 "Review Auth Processes"
Following on from the login issue reported in #1363, authentication processes should be reviewed to ensure they are compliant with current best practices

[2021-09-08 10:22] andremano opened #1366 "Allow breakin the lines for the 'trained competences' field"
It would be useful to allow more than one line under the 'trained competences' field of a certificate. This would prevent situations like the example below:
![image](https://user-images.githubusercontent.com/6665872/132492187-8345378a-91bb-41f7-bafd-42de0bf72dfd.png)

A long list of itens is not ideal but it can be desirable in the context of trainings linked to academic courses where a one wishes

[2021-10-01 07:34] NyakudyaA opened #1368 "Zip file missing .zip extension on Firefox"
# Problem

If I download a zip file from the platform using firefox the main file doesn't have a .zip extension but is correctly flagged as zip

[2021-10-08 06:29] sumandari opened #1369 "Update the docker-compose configuration file to reduce the container log file size"
We experienced disk space issues.
There was a large log file for nginx in
11.3 GiB [##########] f72dd44c2ba3386523881cdb279f419f0de5e797c8b43fef1268505c97e9e121-json.log

Reduce the container log to avoid running out of disk space:
https://sleeplessbeastie.eu/2020/09/16/how-to-reduce-the-size-of-the-docker-container-log-file/

try to add this logging option in docker-compose:
[code]

[2021-10-29 08:37] rduivenvoorde opened #1370 "In rst export there are still some references to github"
Export is going pretty smooth now!! 3.22 has some small glitches...

When downloading the zip export of changelog 3.22 there are some images still pointing to github repos.
Funny thing is that they all have special names:

[code]

For now I'm going to replace them by hand, but I think it would be nicer if the export would do that?

[2021-10-29 09:04] zacharlie commented on #1370
So usually I manually store each individual piece of media by uploading one at a time, then assign the projects url reference if an entry had multiple media items. Sometimes I just download the images and stitch them together so we just have one neat thumbnail.

In previous releases I actually went through each entry and did this manually, but with 3.22 other contributors were shuffling entries in